body .action-item__icon--collapse:before {
    content: "\f106";
}

/* Fixing things */

.nav-drawer__icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* fonts to inter */
.breadcrumb-item, .overline, .dropdown-item, .nav-drawer__text, .subtitle__1, .table thead th, {
    font-family: 'Inter', sans-serif;
}

.btn{
    height: 2.5rem;
}

.btn--md{
    height: 2rem;
}

.panel__header {
    min-height: 3.5rem;
}

/* table hover, maybe */
.table-hover tbody tr:hover, .table--hover tbody tr:hover {
    background-color: var(--color-surface-container-low);
}

/* Trying new styles 
--elevate1: 0 .125rem .125rem 0 rgb(0 0 0 / .32);
    --elevate2: 0 .25rem .5rem 0 rgb(0 0 0 / .4);
    --elevate3: 0 .375rem .75rem 0 rgb(0 0 0 / .48);

*/

/* surface classes */
.surface--no-shadow #testing-page .panel {
  box-shadow: none;
}

.surface--small-border #testing-page .panel {
    box-shadow: none;
    border: 1px solid var(--color-outline-variant);
}

.surface--big-border #testing-page .panel {
    box-shadow: none;
    border: 2px solid var(--color-outline-variant);
}

.surface--soft-shadow #testing-page .panel {
    box-shadow: 0 1px 3px rgb(0, 0, 0, 0.06);
    border: 1px solid rgb(0 0 0 / 6%);
}

/* background classes */
.background--gray {
    background-color: #F6F6F8;
}

.background--white {
    background-color: #fff;
}

.background--soft-blue{
    background: #f3f4fb;
}

.background--blue-98{
    background: hsl(230deg 98% 25% / 8%);
}

.background--teal-98{
    background: var(--color-teal-98);
}

.background--teal-95{
    background: var(--color-teal-95);
}

.background--gradient-apple-white-blue{
    background: linear-gradient(90deg,rgba(151, 217, 48, .18) 0%, rgba(255, 255, 255, 1) 50%, rgba(17, 42, 169, .18) 100%);
}

.background--gradient-teal-white-blue{
    background: linear-gradient(90deg,rgba(39, 121, 130, .18) 0%, rgba(255, 255, 255, 1) 50%, rgba(17, 42, 169, .18) 100%);
}

.background--gradient-apple-blue{
    background: linear-gradient(90deg,rgba(151, 217, 48, .18) 0%, rgba(17, 42, 169, .18) 100%);
}

.background--gradient-teal-blue{
    background: linear-gradient(90deg,rgba(39, 121, 130, .18) 0%, rgba(17, 42, 169, .18) 100%);
}

/* top bar classes */
.top-bar--border .top-bar-wrapper{
    box-shadow: none;
    border-bottom: 1px solid var(--color-outline-variant);
}

/* side menu */
.menu--blue .nav-drawer__main{
    background-color: var(--color-blue-container);
}

.menu--white .nav-drawer__main{
    background-color: #fff;
}

.menu--white .nav-drawer__main:not(.expanded-sidebar) .nav-drawer__icon:not(:hover){
    color: var(--color-gray-40) !important;
}

/* alternate colors */
/*
95 es 94
90 es 86
80 es 72
70 es 60
60 es 42
50 es 28
40 es 16
35 es 10
30 es 6
25 es 0
20 es +16
15 es +36
10 es +48
5 es +92
*/

.alternate-colors{ 
  --color-blue-98: #fafbfd;
  --color-blue-95: #f1f2fa;
  --color-blue-90: #dee1f3;
  --color-blue-80: #bcc3e7;
  --color-blue-70: #7583ce;
  --color-blue-60: #7e8cd2;
  --color-blue-50: #5466c3;
  --color-blue-40: #374cb8;
  --color-blue-35: #293fb3;
  --color-blue-30: #1f37b0;
  --color-blue-25: #112aab;
  --color-blue-20: #0e2390;
  --color-blue-15: #0b1b6d;
  --color-blue-10: #091659;
  --color-blue-5: #01030e;
}


/* Mattilda */
.mattilda .navbar-header{
    background-color: var(--color-teal);
}

.mattilda .breadcrumb-item.active {
    color: var(--color-outline-variant);
}

.mattilda .navbar-nav .nav-link{
    color: var(--color-on-inverse-surface)
}

.mattilda .navbar-brand img {
    height: 2rem;
}

.mattilda .nav--tab{
    color: var(--color-on-surface-variant);
}

.mattilda .nav--tab.active {
    color: var(--color-teal);
    -webkit-box-shadow: inset 0 -2px 0 var(--color-teal);
    -moz-box-shadow: inset 0 -2px 0 var(--color-teal);
    box-shadow: inset 0 -2px 0 var(--color-teal);
}

.mattilda .nav--tab:hover {
    color: var(--color-teal);
}

.mattilda .nav--tab:hover:before {
    background-color: var(--color-teal);
}

.mattilda a {
    color: var(--color-teal-40);
}

.mattilda ul.pagination>li.active>a{
    background-color: var(--color-teal-container);
}

@media (min-width: 992px) {
    .mattilda .dashboard-padding {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
    }
}