
<div class="row justify-content-center">
    <div class="col-md-6 col-xl-4 col-lg-6">
        <h5>Action Item dark mode</h5>
        <div class="panel mb-grid-gutter scale-entrance bg-dark">
            <div class="action-bar">
                <div class="action-bar__buttons-section">
                    <button type="button" class="btn btn-text--blue">Guardar</button>
                    <button type="button" class="btn btn-text--green">Imprimir</button>
                </div>
                <div class="action-bar__icons-section">
                    <div class="action-item action-item--light">
                        <i class="fa fa-print action-item__icon"></i>
                    </div>
                    <div class="action-item action-item--light">
                        <i class="fas fa-angle-left action-item__icon"></i>
                    </div>
                    <div class="action-item action-item--light">
                        <i class="fas fa-angle-right action-item__icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <h5>Action Item</h5>
        <div class="panel mb-grid-gutter scale-entrance">
            <div class="action-bar">
                <div class="action-bar__buttons-section">
                    <button type="button" class="btn btn-text--blue">Guardar</button>
                    <button type="button" class="btn btn-text--green">Imprimir</button>
                </div>
                <div class="action-bar__icons-section">
                    <div class="action-item">
                        <i class="fa fa-print action-item__icon"></i>
                    </div>
                    <div class="action-item">
                        <i class="fas fa-angle-left action-item__icon"></i>
                    </div>
                    <div class="action-item">
                        <i class="fas fa-angle-right action-item__icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <h5> Action Item Medium</h5>
        <div class="panel mb-grid-gutter scale-entrance">
            <div class="action-bar">
                <div class="action-bar__buttons-section">
                    <button type="button" class="btn btn-text--blue">Guardar</button>
                    <button type="button" class="btn btn-text--green">Imprimir</button>
                </div>
                <div class="action-bar__icons-section">
                    <div class="action-item action-item--md">
                        <i class="fas fa-angle-right action-item__icon"></i>
                    </div>
                    <div class="action-item action-item--md">
                        <i class="fas fa-ellipsis-vertical  action-item__icon" ></i>
                    </div>
                </div>
            </div>
        </div>
        <h5> Action Item Small</h5>
        <div class="panel mb-grid-gutter scale-entrance">
            <div class="action-bar action-bar--condensed">
                <div class="action-bar__buttons-section">
                    <button type="button" class="btn btn-text--blue">Guardar</button>
                    <button type="button" class="btn btn-text--green">Imprimir</button>
                </div>
                <div class="action-bar__icons-section">
                    <div class="action-item action-item--md">
                        <i class="fas fa-angle-right action-item__icon"></i>
                    </div>
                    <div class="action-item action-item--md">
                        <i class="fas fa-ellipsis-vertical  action-item__icon" ></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4 col-lg-6">

        <h5>Action Item Card Example</h5>
        <div class="material-card">
            <div class="material-card__header">
                <img class="material-card__header--square-img material-card__header--square-img--md" src="https://placeimg.com/640/200/any" alt="pic">
                <span class="material-card__text">
                    <span class="material-card__text--primary">Lorem ipsum, Pariatur laborum.</span>
                    <span class="material-card__text--secondary">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Sequi ut numquam voluptatem esse suscipit autem, vel accusamus tore.</span>
                </span>
                <div class="action-item  material-card__header--icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-vertical  action-item__icon action-item__icon--sm"></i>
                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-start">
                        <button class="dropdown-item" type="button">Action</button>
                        <button class="dropdown-item" type="button">Another action</button>
                        <button class="dropdown-item" type="button">Something else here</button>
                    </div>
                </div>
            </div>
            <div class="material-card__footer action-bar">
                <div class="action-bar__buttons-section">
                    <button type="button" class="btn btn-text--blue">Guardar</button>
                    <button type="button" class="btn btn-text--green">Imprimir</button>
                </div>
                <div class="action-bar__icons-section">
                    <div class="action-item">
                        <i class="fa fa-print action-item__icon action-item__icon--sm"></i>
                    </div>
                    <div class="action-item">
                        <i class="fas fa-angle-left action-item__icon action-item__icon--sm"></i>
                    </div>
                    <div class="action-item">
                        <i class="fas fa-angle-right action-item__icon action-item__icon--sm"></i>
                    </div>
                </div>
            </div>
        </div>
        <h5>Action Item Card Example Reversed</h5>
        <div class="material-card">
            <div class="material-card__header">
                <img class="material-card__header--square-img material-card__header--square-img--md" src="https://placeimg.com/640/200/any" alt="pic">
                <span class="material-card__text">
                    <span class="material-card__text--primary">Lorem ipsum, Pariatur laborum.</span>
                    <span class="material-card__text--secondary">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Sequi ut numquam voluptatem esse suscipit autem, vel accusamus tore.</span>
                </span>
                <div class="action-item  material-card__header--icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-vertical  action-item__icon action-item__icon--sm"></i>
                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-start">
                        <button class="dropdown-item" type="button">Action</button>
                        <button class="dropdown-item" type="button">Another action</button>
                        <button class="dropdown-item" type="button">Something else here</button>
                    </div>
                </div>
            </div>
            <div class="material-card__footer action-bar action-bar--reversed">
                <div class="action-bar__icons-section">
                    <div class="action-item">
                        <i class="fa fa-print action-item__icon action-item__icon--sm"></i>
                    </div>
                    <div class="action-item">
                        <i class="fas fa-angle-left action-item__icon action-item__icon--sm"></i>
                    </div>
                    <div class="action-item">
                        <i class="fas fa-angle-right action-item__icon action-item__icon--sm"></i>
                    </div>
                </div>
                <div class="action-bar__buttons-section">
                    <button type="button" class="btn btn-text--blue">Guardar</button>
                    <button type="button" class="btn btn-text--green">Imprimir</button>
                </div>
            </div>
        </div>
    </div>
</div>
