<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alerts</title>
</head>
<body>


    <h3>Alertas</h3>
  <div class="alert alert--blue" role="alert">
    A simple primary alert—check it out!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="alert alert--green" role="alert">
    A simple secondary alert—check it out!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
  </div>

  <div class="alert alert--purple" role="alert">
    <i class="fas fa-address-book alert__icon"></i>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor earum eveniet perferendis! Debitis minus nostrum saepe sapiente! Aliquam beatae deleniti exercitationem facere laudantium praesentium. Alias cum excepturi iusto mollitia quas!
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
  </div>
  <div class="alert alert--teal" role="alert">
    A simple secondary alert—check it out!
  </div>

  <div class="alert alert--orange" role="alert">
    A simple primary alert—check it out!
    <a href="/some" class="alert-link">some</a>
  </div>
  <div class="alert alert--yellow" role="alert">
    A simple secondary alert—check it out!
  </div>

  <div class="alert alert--red" role="alert">
    A simple primary alert—check it out!
  </div>
  <div class="alert alert--dark" role="alert">
    A simple secondary alert—check it out!
  </div>
  <div class="alert alert--ligth" role="alert">
    A simple secondary alert—check it out!

  </div>
    <h3>Radius alert</h3>
    <div class="alert alert--blue alert--radius" role="alert">
      <i class="fas fa-address-book alert__icon"></i>
      A simple primary alert—check it out!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
    </div>
    <h3>Icon Alert</h3>
    <div class="alert alert--blue" role="alert">
      <i class="fas fa-address-book alert__icon"></i>
      A simple primary alert—check it out!
    </div>
</body>
</html>