<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Banner Component</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <h5>Banner Base</h5>

  <div class="banner">
    <div class="banner__text">
      <span class="banner__text--primary-one-line">One-line text string with one action</span>
    </div>
    <div class="banner__action">
      <button type="button" class="btn btn-text--purple">Purple</button>
    </div>
  </div>

  <br>

  <h5>Banner double action</h5>

  <div class="banner banner__double-action">
    <div class="banner__text">
      <span class="banner__text--primary">Lorem ipsum dolor nihil perferendis! amet consectetur adipisicing elit. Atque
        saepe eligendi illum consequuntur. Atque saepe eligendi illum consequuntu. Ipsum ratione vel, repellendus rem!
        nihil perferendis! Atque saepe eligendi illum consequuntur ut dolorem minus deserunt architecto error! que
        saepe eligendi illum consequuntur. Atque saepe eligendi illum consequuntu.que
        saepe eligendi illum consequuntur. Atque saepe eligendi illum consequuntu.
      </span>
    </div>
    <div class="banner__action">
      <button type="button" class="btn btn-text--purple">Purple</button>
      <button type="button" class="btn btn-text--purple">Purple</button>
    </div>
  </div>

  <br>

  <h5>Banner with graphic and double action</h5>

  <div class="banner banner__graphic">
    <div>
      <img src="images/maestra.jpg" class="banner__graphic--thumbnail" alt="">
    </div>
    <div class="banner__text">
      <span class="banner__text--primary-two-line">Two-line text string with two actions is preferable on mobile and table. Totam ut 
        reprehenderit modi temporibus quod obcaecati harum? Consectetur quibusdam, esse veritatis officiis quidem quas libe
        ro veniam? Minus pariatur quibusdam itaque unde!
      </span>
    </div>
    <div class="banner__action">
      <button type="button" class="btn btn-text--purple">Purple</button>
      <button type="button" class="btn btn-text--purple">Purple</button>
    </div>
  </div>


</body>

</html>