<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cards</title>
</head>

<body>

<div class="row justify-content-center">
    <div class="col-12 col-md-4">
        <h5>Charge Card</h5>
        <div class="material-card material-card__aside mb-grid-gutter scale-entrance">
            <div class="material-card__aside--container">
                <i class="fas fa-money-bill text-red material-card__aside--icon"></i>
                <div class="material-card__aside__text">
                    <span class="material-card__aside__text--primary overline">
                        Total de cobros
                    </span>
                    <span class="material-card__aside__text--secondary text-red">
                        $86,404.43
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <h5>Card syt permissions</h5>

        <div class="material-card mb-grid-gutter scale-entrance">
            <div class="material-card__header material-card__header--three-line ">
                <span class="material-card__header--icon material-card__header--icon-img">
                    <i class="fas fa-circle-user text-blue"></i>
                </span>
                <span class="material-card__text">
                    <span class="material-card__text--primary">
                        Aarón
                    </span>
                    <span class="material-card__text--secondary">
                        Aguirre Macías
                    </span>
                    <span class="material-card__text--thirdary">
                        21 may 2019
                    </span>
                </span>

                <div class="material-card__header--icon cusor-pointer  permission-icon">
                    <i class="fas fa-ban text-red cursor-pointer" data-toggle="tooltip" data-placement="top" trigger="hover" title="" data-original-title="Cancelado">
                    </i>
                </div>
            </div>
            <div class="collapse show" id="collapsible-1" style="">
                <ul class="material-list material-list--borderless">
                    <li class="material-list__item">
                        <i class="fas fa-circle-check text-green material-list__icon"></i>
                        <i class="fas icon-user text-red"></i>
                        <span class="material-list__text">
                            <span class="material-list__text--primary">algebraix, admin</span>
                            <span class="material-list__text--secondary">21/05/2019 18:28:11</span>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="divider"></div>
            <div class="material-card__footer action-bar">
                <div class="action-bar__buttons-section">

                </div>
                <div class="action-bar__icons-section">
                    <div class="action-item ml-auto" data-toggle="collapse" data-target="#collapsible-1" aria-expanded="true" aria-controls="table1">
                        <i class="fas action-item__icon action-item__icon--collapse action-item__icon--sm"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <h5>Mini boxes</h5>
        <div class="mini-box mb-grid-gutter scale-entrance">
            <span class="mini-box__one">
                <span class="mini-box__text--primary">
                    $100.00
                </span>
                <span class="d-block mini-box__text--secondary">
                    Total de cobros
                </span>
            </span>

            <span class="mini-box__second border-left">
                <span class="mini-box__text--primary">
                    $50.00
                </span>
                <span class="d-block mini-box__text--secondary">
                    Total Recibido
                </span>
            </span>

            <span class="mini-box__third border-left">
                <span class="mini-box__text--primary">
                    $50.00
                </span>
                <span class="d-block mini-box__text--secondary">
                    Diferencia
                </span>
            </span>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="material-card material-card--shadow mb-grid-gutter scale-entrance">
            <div class="material-card__body">
                <div class="material-card__body--title">
                    Body title
                </div>
                <div class="material-card__body--title-secondary">
                    <i class="fas fa-star text-yellow"></i>
                    <i class="fas fa-star text-yellow"></i>
                    <i class="fas fa-star text-yellow"></i>
                    <i class="fas fa-star text-yellow"></i>
                    <i class="fas fa-star-half-stroke text-yellow"></i>
                    4.5 (213)
                </div>
                <div class="material-card__body--secondary-text">
                    Secondary text
                </div>
                <div class="material-card__body--paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
                    aperiam fuga debitis totam explicabo dolore natus voluptatum eveniet voluptates facilis impedit,
                    facere
                    itaque deleniti repudiandae, repellendus nulla sint ratione neque?
                </div>
                <div class="material-card__body--subtitle">
                    Subtitle
                </div>
                <ul class="material-list material-list--borderless material-list--two-line">
                    <li class="material-list__item material-list__item--subheader">
                        <span class="material-list__text">
                            <span class="material-list__text--primary">Primary text list</span>
                        </span>
                    </li>
                    <li class="material-list__item">
                        <i class="fas fa-cake-candles material-list__icon text-pink"></i>
                        <span class="material-list__text">
                            <span class="material-list__text--primary">Primary text list Condensed</span>
                            <span class="material-list__text--secondary">secondary text test list</span>
                        </span>
                        <span class="material-list__meta--center material-list__text--sm text-blue">
                            18 <i class="far fa-thumbs-up material-list__text--md"></i>
                        </span>
                    </li>
                    <div class="divider"></div>
                    <li class="material-list__item material-list__graphic-list">
                        <div style="background-image: url('https://bit.ly/2TQsNay')" class=" material-list__icon  material-list__icon--thumbnail"></div>
                        <span class="material-list__text">
                            <span class="material-list__text--primary">Primary text list Condensed</span>
                            <span class="material-list__text--secondary">secondary text test list</span>
                        </span>
                        <span class="material-list__meta-box">
                            <div class="material-list__meta-box__text">
                                4:34 P.M
                            </div>
                            <div class="text-center">
                                <i class="fas fa-circle-exclamation material-list__meta-box__icon text-yellow"></i>
                            </div>
                        </span>
                    </li>
                    <div class="divider"></div>
                    <li class="material-list__item material-list__graphic-list">
                        <div style="background-image: url('https://bit.ly/2TQsNay')" class=" material-list__icon  material-list__icon--thumbnail-radius"></div>
                        <span class="material-list__text">
                            <span class="material-list__text--primary">Primary text list Condensed</span>
                            <span class="material-list__text--secondary">secondary text test list</span>
                        </span>
                        <span class="material-list__meta--center material-list__text--sm ">
                            12/01/2018 &nbsp; 4:34 P.M
                        </span>
                    </li>
                    <div class="divider"></div>
                    <li class="material-list__item">
                        <i class="fas fa-bed  material-list__icon text-yellow"></i>
                        <span class="material-list__text">
                            <span class="material-list__text--primary">Primary text list Condensed</span>
                            <span class="material-list__text--secondary">secondary text test list</span>
                        </span>
                        <i class="fas fa-circle-exclamation material-list__meta text-yellow"></i>
                    </li>
                    <div class="divider"></div>
                    <li class="material-list__item">
                        <div class=" material-list__icon">
                            <label class="material-check">
                                <input type="checkbox" class="hidden" placeholder="" name="" id="switch" dir="auto"  required="">
                                <span class="material-check__switch">
                                    <span class="material-check__container-dot">
                                        <span class="material-check__dot"></span>
                                    </span>
                                </span>
                            </label>
                        </div>

                        <span class="material-list__text">
                            <span class="material-list__text--primary">Primary text list</span>
                            <span class="material-list__text--secondary">secondary text test list</span>
                        </span>
                        <p class="material-list__meta--text">$12.45</p>
                    </li>
                    <div class="divider"></div>
                    <li class="material-list__item">
                        <i class="fas fa-circle-xmark  material-list__icon text-red"></i>
                        <span class="material-list__text">
                            <span class="material-list__text--primary">Primary text list</span>
                            <span class="material-list__text--secondary">secondary text test list</span>
                        </span>
                        <i class="fas fa-ban material-list__meta"></i>
                    </li>
                    <div class="divider"></div>
                    <li class="material-list__item material-list__graphic-list">
                        <i class="fas fa-folder  material-list__icon"></i>
                        <span class="material-list__text">
                            <span class="material-list__text--primary">Primary text list</span>
                            <span class="material-list__text--secondary">secondary text test list</span>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="material-card__footer action-bar">
                <div class="action-bar__buttons-section d-sm-block d-none">
                    <button type="button" class="btn btn-text--blue">Action 1</button>
                    <button type="button" class="btn btn-text--blue">Action 2</button>
                </div>
                <div class="action-bar__icons-section">
                    <div class="action-item">
                        <i class="fa fa-print action-item__icon action-item__icon--sm"></i>
                    </div>
                </div>
            </div>
        </div>
        <h5>Material Card Stuff</h5>
        <div class="material-card material-card--shadow mb-grid-gutter scale-entrance">
            <div class="material-card__body--graphic">
                <img class="" src="https://placeimg.com/900/600/any" alt="pic">
            </div>
            <div class="material-card__body">
                <div class="material-card__body--title">
                    Body title
                </div>
                <div class="material-card__body--title-secondary">
                    <i class="fas fa-star text-yellow"></i>
                    <i class="fas fa-star text-yellow"></i>
                    <i class="fas fa-star text-yellow"></i>
                    <i class="fas fa-star text-yellow"></i>
                    <i class="fas fa-star-half-stroke text-yellow"></i>
                    4.5 (213)
                </div>
                <div class="material-card__body--secondary-text">
                    Secondary text
                </div>
                <div class="material-card__body--paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
                    aperiam fuga debitis totam explicabo dolore natus voluptatum eveniet voluptates facilis impedit,
                    facere
                    itaque deleniti repudiandae, repellendus nulla sint ratione neque?
                </div>
                <div class="material-card__body--subtitle">
                    Subtitle
                </div>
                <div class="chip-wrapper">
                    <div class="material-chip">action chip</div>
                    <div class="material-chip">action chip 2</div>
                </div>
            </div>
            <div class="material-card__footer action-bar">
                <div class="action-bar__buttons-section d-sm-block d-none">
                    <button type="button" class="btn btn-text--blue">Action 1</button>
                    <button type="button" class="btn btn-text--blue">Action 2</button>
                </div>
                <div class="action-bar__icons-section">
                    <div class="action-item">
                        <i class="fa fa-print action-item__icon action-item__icon--sm"></i>
                    </div>
                </div>
            </div>
        </div>
        <h5>Material Card Square Img</h5>
        <div class="material-card mb-grid-gutter scale-entrance">
            <div class="material-card__header">
                <div class="material-card__header--square-img" style="background-image: url('images/maestra.jpg')"
                     src="" alt="pic"></div>
                <span class="material-card__text">
                    <span class="material-card__text--primary">Lorem ipsum, Pariatur laborum.</span>
                    <span class="material-card__text--secondary">Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit.
                        Sequi ut numquam voluptatem esse suscipit autem, vel accusamus tore.</span>
                </span>
                <div class="action-item  material-card__header--icon" data-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="false">
                    <i class="fas fa-ellipsis-vertical  action-item__icon action-item__icon--sm"></i>
                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-start">
                        <button class="dropdown-item" type="button">Action</button>
                        <button class="dropdown-item" type="button">Another action</button>
                        <button class="dropdown-item" type="button">Something else here</button>
                    </div>
                </div>
            </div>
        </div>








    </div>
    <div class="col-12 col-md-4">
        <h5>Messaging Card </h5>
        <div class="material-card material-card--shadow mb-grid-gutter scale-entrance">
            <div class="material-card__header" >
                <span class="material-card__header--icon material-card__header--icon-img">
                    <i class="fas fa-circle-user"></i>
                </span>
                <span class="material-card__text">
                    <span class="material-card__text--primary">Yo</span>
                    <span class="material-card__text--secondary">Para: administrador algebraix</span>
                </span>

            </div>

            <div class="divider1"></div>
            <div class="material-card__body--title-secondary" style="padding-left: 1rem;">

                02 mayo 2019
            </div>
            <div class="material-card__body--title" style="padding-left: 1rem;">Vacaciones semana santa
            </div>

            <div class="material-card__body" >


                <div class="material-card__body--paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
                    aperiam fuga debitis totam explicabo dolore natus voluptatum eveniet voluptates facilis impedit,
                    facere
                    itaque deleniti repudiandae, repellendus nulla sint ratione neque?
                </div>


            </div>
            <div class="material-card__footer action-bar">
                <div class="action-bar__buttons-section d-sm-block d-none">
                    <button type="button" class="btn btn-text--blue">Responder</button>
                    <button type="button" class="btn btn-text--blue d-none">Action 2</button>
                </div>
                <div class="action-bar__icons-section">
                    <div class="action-item">
                        <i class="far fa-trash-can action-item__icon action-item__icon--sm"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="material-card scale-entrance">

            <div class="material-card__header">
                <span class="material-card__header--icon material-card__header--icon-img">
                    <i class="fas fa-circle-user text-red"></i>
                </span>
                <span class="material-card__text material-card__text--responsive">
                    <span class="material-card__text--primary">
                        Yo
                    </span>

                    <span class="material-card__text--secondary d-flex">
                        <span class="text-truncate">
                            Para:
                            2º A
                        </span>
                        <span class="material-card__text-icon material-card__text-icon--hover cursor-pointer" data-toggle="collapse" data-target="#message-1" aria-expanded="true" aria-controls="message-1">
                            <i class="fas fa-star  action-item__icon--collapse"></i>
                        </span>
                    </span>

                </span>
            </div>
            <div class="message__details-container collapse show" id="message-1" style="">
                <div class="row">
                    <div class="col-2 col-sm-1 message__details-label text-dark">
                        De
                    </div>
                    <div class="col-10 col-sm-11 message__details-text text-dark">
                        Yo
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 col-sm-1 message__details-label text-dark">
                        Para
                    </div>
                    <div class="col-10 col-sm-11 message__details-text">
                        2º A
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 col-sm-1 message__details-label text-dark">
                        Fecha
                    </div>
                    <div class="col-10 col-sm-11 message__details-text">
                        30 oct 2020, 04:55 p.m.
                    </div>
                </div>
            </div>
            <div class="px-3">
                <div class="material-card__body--title-secondary">
                    04:55 p.m.
                </div>
            </div>
            <div class="material-card__body">
                <div class="material-card__body--paragraph material-card__body--respect-lines"><p>a</p></div>
            </div>


            <div class="material-card__footer action-bar">
                <div class="action-bar__icons-section">
                    <div data-toggle="tooltip" title="" data-original-title="Eliminar mensaje" data-placement="bottom">
                        <span class="action-item delete-message-js" data-toggle="modal" data-target="#deleteMessageModalCenter">
                            <i class="far fa-trash-can action-item__icon action-item__icon--sm text-red"></i>
                        </span>
                    </div>

                </div>
            </div>
        </div>
        <h5>photo card</h5>

        <div class="material-card mb-grid-gutter scale-entrance">
            <div class="material-card__header material-card__header--center">
                <img class="material-card--photo-radius" src="https://placeimg.com/640/200/any" alt="pic">
            </div>
            <span class="material-card__text">
                <span class="material-card__text--primary text-center">Lorem ipsum, Pariatur laborum.</span>
                <span class="material-card__text--secondary text-center ">Lorem ipsum </span>
            </span>
            <div class="material-card__footer action-bar">
                <div class="action-bar__buttons-section">
                    <button type="button" class="btn btn-text--blue">Guardar</button>
                    <button type="button" class="btn btn-text--green">Imprimir</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="material-card material-card--highlight mb-grid-gutter scale-entrance">
                    <div class="material-card__header material-card__header--center">
                        <div class="profile">
                            <div class="profile__image"
                                 style="background-image: url('https://cache.desktopnexus.com/thumbseg/2373/2373100-bigthumbnail.jpg')"></div>
                            <div class="profile__text">
                                <div class="profile__text--primary">Nombre de usuario</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="material-card material-card--highlight mb-grid-gutter scale-entrance">
                    <div class="material-card__header material-card__header--center">
                        <div class="profile">
                            <div class="profile__image"
                                 style="background-image: url('http://en.bcdn.biz/images/emails_source/5aa1d06c-d409-4d4a-8d4f-d90f51350047.jpg')"></div>
                            <div class="profile__text">
                                <div class="profile__text--primary">Nombre de usuario</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h5>Overline Card With Image</h5>
        <div class="material-card mb-grid-gutter scale-entrance">
            <div class="material-card__header">
                <span class="material-card__text--condensed">
                    <span class="material-card__text--primary">Lorem ipsum, Pariatur laborum.</span>
                    <span class="material-card__text--secondary material-card__text--complete">Lorem ipsum dolor sit
                        amet consectetur, adipisicing elit.
                        Sequi ut tore.</span>
                </span>
                <img class="material-card__header--square-img material-card__header--square-img--lg"
                     src="https://placeimg.com/640/200/any" alt="pic">
            </div>
            <div class="material-card__footer action-bar">
                <div class="action-bar__buttons-section">
                    <button type="button" class="btn btn-text--blue">Guardar</button>
                    <button type="button" class="btn btn-text--green">Imprimir</button>
                </div>
            </div>
        </div>

        <h5>Icon Card</h5>
        <div class="material-card material-card--highlight mb-grid-gutter scale-entrance">
            <div class="material-card__header material-card__header--center">
                <i class="fas fa-angle-left"></i>
            </div>
            <span class="material-card__text">
                <span class="material-card__text--primary text-center">Lorem ipsum, Pariatur laborum.</span>
                <span class="material-card__text--secondary text-center ">Lorem ipsum </span>
            </span>
        </div>
        <h5>Media Card</h5>
        <div class="material-card material-card--media-card mb-grid-gutter scale-entrance">
            <div class="material-card__body--graphic">
                <img class="" src="https://placeimg.com/640/200/any" alt="pic">
            </div>
            <div class="material-card__header">
                <span class="material-card__text--condensed">
                    <span class="material-card__text--primary">Lorem ipsum, Pariatur laborum.</span>
                    <span class="material-card__text--secondary">Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit.
                        Sequi ut numquam voluptatem esse suscipit autem, vel accusamus tore.</span>
                </span>
                <div class="action-item collapsed material-card__header--collapse material-card__header--icon"
                     data-toggle="collapse" data-target="#collapsible"
                     aria-expanded="false" aria-controls="table1">
                    <i class="fas action-item__icon action-item__icon--collapse action-item__icon--sm"></i>
                </div>
            </div>
            <div class="material-card__body collapse" id="collapsible">
                <p class="material-card__body--paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
                    aperiam fuga debitis totam explicabo dolore natus voluptatum eveniet voluptates facilis impedit,
                    facere
                    itaque deleniti repudiandae, repellendus nulla sint ratione neque?</p>
            </div>
            <div class="material-card__footer action-bar">
                <div class="action-bar__buttons-section">
                    <button type="button" class="btn btn-text--blue">Guardar</button>
                    <button type="button" class="btn btn-text--green">Imprimir</button>
                </div>
                <div class="action-bar__icons-section">
                    <div class="action-item">
                        <i class="fa fa-print action-item__icon action-item__icon--sm"></i>
                    </div>
                    <div class="action-item">
                        <i class="fas fa-angle-left action-item__icon action-item__icon--sm"></i>
                    </div>
                    <div class="action-item">
                        <i class="fas fa-angle-right action-item__icon action-item__icon--sm"></i>
                    </div>
                </div>
            </div>
        </div>



        <div class="material-card mb-grid-gutter scale-entrance">
            <div class="material-card__header">
                <img class="material-card__header--square-img material-card__header--square-img--md"
                     src="https://placeimg.com/640/200/any" alt="pic">
                <span class="material-card__text">
                    <span class="material-card__text--primary">Lorem ipsum, Pariatur laborum.</span>
                    <span class="material-card__text--secondary">Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit.
                        Sequi ut numquam voluptatem esse suscipit autem, vel accusamus tore.</span>
                </span>
                <div class="action-item  material-card__header--icon" data-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="false">
                    <i class="fas fa-ellipsis-vertical  action-item__icon action-item__icon--sm"></i>
                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-start">
                        <button class="dropdown-item" type="button">Action</button>
                        <button class="dropdown-item" type="button">Another action</button>
                        <button class="dropdown-item" type="button">Something else here</button>
                    </div>
                </div>
            </div>
            <div class="material-card__footer action-bar">
                <div class="action-bar__buttons-section">
                    <button type="button" class="btn btn-text--blue">Guardar</button>
                    <button type="button" class="btn btn-text--green">Imprimir</button>
                </div>
                <div class="action-bar__icons-section">
                    <div class="action-item">
                        <i class="fa fa-print action-item__icon action-item__icon--sm"></i>
                    </div>
                    <div class="action-item">
                        <i class="fas fa-angle-left action-item__icon action-item__icon--sm"></i>
                    </div>
                    <div class="action-item">
                        <i class="fas fa-angle-right action-item__icon action-item__icon--sm"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <h5>Quizz card</h5>
        <div class="material-card mb-grid-gutter scale-entrance">
            <div class="material-card__container">
                <div class="overline">Artes Visuales I Blq1</div>
                <div class="material-card__body--title mb-2 ">Principios y elementos de las Artes Visuales </div>
                <ul class="material-list material-list--sm">
                    <li class="material-list__item">
                        <i class="fas fa-circle-check material-list__icon  text-yellow"></i>
                        <span class="material-list__text">
                            <span class="material-list__text--primary text-yellow">
                                Resuelto
                            </span>
                        </span>
                        <span class="material-list__meta--center text-yellow">
                            (1 Pendiente)
                        </span>
                    </li>
                    <li class="material-list__item">
                        <i class="far fa-calendar material-list__icon text-dark-gray"></i>
                        <span class="material-list__text">
                            <span class="material-list__text--primary material-list__text--complete">
                                Disponible hasta el 13 de Febrero
                            </span>
                        </span>
                    </li>
                    <li class="material-list__item">
                        <i class="fas fa-question material-list__icon text-dark-gray"></i>
                        <span class="material-list__text">
                            <span class="material-list__text--primary material-list__text--complete">
                                Preguntas: 7/10
                            </span>
                        </span>
                    </li>
                    <li class="material-list__item">
                        <i class="far fa-clock material-list__icon text-dark-gray"></i>
                        <span class="material-list__text">
                            <span class="material-list__text--primary material-list__text--complete">
                                Minutos: 20
                            </span>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <h5>Users</h5>
        <div class="row justify-content-center">
            <div class="col-6 col-md-6">
                <div class="material-card mb-grid-gutter scale-entrance">
                    <div class="material-card__body--graphic cursor-pointer">
                        <div class="classes__user-image text-center">
                            <i class="classes__user-image--icon fas fa-circle-user text-yellow"></i>
                        </div>
                    </div>
                    <div class="material-card__body text-center">
                        <div class="overline">USUARIO</div>
                        <div class="material-card__body--title classes__album--title">
                            Apellido Apellido, Nombre
                        </div>
                    </div>
                    <div class="material-card__footer action-bar">
                        <div class="action-bar__buttons-section">
                            <span class="btn btn-text--blue">Detalles </span>
                        </div>
                        <div class="action-bar__icons-section">
                            <span class="">
                                <div data-toggle="tooltip" title="" data-original-title="Horario" data-placement="left" class="action-item cursor-pointer">
                                    <i class="far fa-clock text-green action-item__icon action-item__icon--sm"></i>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-6 ">
                <div class="material-card mb-grid-gutter scale-entrance">
                    <div class="material-card__body--graphic cursor-pointer">
                        <div class="classes__user-image " style="background-image: url('https://placeimg.com/300/400/any')"></div>
                    </div>
                    <div class="material-card__body text-center">
                        <div class="overline">USUARIO</div>
                        <div class="material-card__body--title classes__album--title">
                            Apellido Apellido, Nombre
                        </div>
                    </div>
                    <div class="material-card__footer action-bar">
                        <div class="action-bar__buttons-section">
                            <span class="btn btn-text--blue">Detalles </span>
                        </div>
                        <div class="action-bar__icons-section">
                            <span class="">
                                <div data-toggle="tooltip" title="" data-original-title="Horario" data-placement="left" class="action-item cursor-pointer">
                                    <i class="far fa-clock text-green action-item__icon action-item__icon--sm"></i>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h5>Material Card</h5>
        <div class="material-card material-card--shadow mb-grid-gutter scale-entrance">
            <div class="material-card__header">
                <img class="material-card__header--img" src="https://placeimg.com/640/200/any" alt="pic">
                <span class="material-card__text">
                    <span class="material-card__text--primary">Lorem ipsum, Pariatur laborum.</span>
                    <span class="material-card__text--secondary">Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit.
                        Sequi ut numquam voluptatem esse suscipit autem, vel accusamus tore.</span>
                </span>
                <div class="action-item collapsed  material-card__header--icon" data-toggle="collapse"
                     data-target="#options"
                     aria-expanded="false" aria-controls="table1">
                    <i class="fas action-item__icon action-item__icon--collapse action-item__icon--sm"></i>
                </div>
            </div>
        </div>
        <div class="material-card material-card--radius mb-grid-gutter scale-entrance">
            <div class="material-card__header">
                <img class="material-card__header--img" src="https://placeimg.com/640/200/any" alt="pic">
                <span class="material-card__text">
                    <span class="material-card__text--primary">Lorem ipsum, Pariatur laborum.</span>
                    <span class="material-card__text--secondary">Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit.
                        Sequi ut numquam voluptatem esse suscipit autem, vel accusamus tore.</span>
                </span>
                <div class="action-item collapsed material-list__meta--btn material-card__header--icon"
                     data-toggle="collapse"
                     data-target="#options" aria-expanded="false" aria-controls="table1">
                    <i class="fas action-item__icon action-item__icon--collapse action-item__icon--sm"></i>
                </div>
            </div>
        </div>
        <div class="material-card mb-grid-gutter scale-entrance">
            <div class="material-card__header">
                <img class="material-card__header--img" src="https://placeimg.com/640/200/any" alt="pic">
                <span class="material-card__text">
                    <span class="material-card__text--primary">Lorem ipsum, Pariatur laborum333.</span>
                    <span class="material-card__text--secondary">Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit.
                        Sequi ut numquam voluptatem esse suscipit autem, vel accusamus tore.</span>
                </span>
                <div class="action-item collapsed  material-card__header--icon" data-toggle="collapse"
                     data-target="#options"
                     aria-expanded="false" aria-controls="table1">
                    <i class="fas action-item__icon action-item__icon--sm  action-item__icon--collapse"></i>
                </div>
            </div>
        </div>
        <h5>Text Only</h5>
        <div class="material-card mb-grid-gutter scale-entrance">
            <div class="material-card__header">
                <span class="material-card__text--condensed">
                    <span class="material-card__text--primary">Lorem ipsum, Pariatur laborum.</span>
                    <span class="material-card__text--secondary">Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit.
                        Sequi ut numquam voluptatem esse suscipit autem, vel accusamus tore.</span>
                </span>
                <div class="action-item collapsed  material-card__header--icon" data-toggle="collapse"
                     data-target="#options"
                     aria-expanded="false" aria-controls="table1">
                    <i class="fas fa-ellipsis-vertical action-item__icon action-item__icon--sm"></i>
                </div>
            </div>
        </div>




        <div class="material-card mb-grid-gutter scale-entrance">
            <div class="material-card__header">
                <span class="material-card__header--icon material-card__header--icon-img">
                    <i class="fas fa-circle-user"></i>
                </span>
                <span class="material-card__text">
                    <span class="material-card__text--primary">Lorem ipsum, Pariatur laborum.</span>
                    <span class="material-card__text--secondary">Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit.
                        Sequi ut numquam voluptatem esse suscipit autem, vel accusamus tore.</span>
                </span>
                <div class="action-item collapsed material-card__header--collapse  material-card__header--icon"
                     data-toggle="collapse" data-target="#options"
                     aria-expanded="false" aria-controls="table1">
                    <i class="fas action-item__icon action-item__icon--collapse action-item__icon--sm"></i>
                </div>
            </div>
            <div class="material-card__body--graphic">
                <img class="" src="https://placeimg.com/640/200/any" alt="pic">
            </div>
            <div class="material-card__body">
                <div class="material-card__body--paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
                    aperiam fuga debitis totam explicabo dolore natus voluptatum eveniet voluptates facilis impedit,
                    facere
                    itaque deleniti repudiandae, repellendus nulla sint ratione neque?
                </div>
            </div>

            <div class="material-card__footer action-bar">
                <div class="action-bar__buttons-section d-sm-block d-none">
                    <button type="button" class="btn btn-text--blue">Guardar</button>
                    <button type="button" class="btn btn-text--green">Imprimir</button>
                </div>
                <div class="action-bar__icons-section">
                    <div class="action-item">
                        <i class="fa fa-print action-item__icon action-item__icon--sm"></i>
                    </div>
                    <div class="action-item ">
                        <i class="fas fa-angle-left action-item__icon action-item__icon--sm"></i>
                    </div>
                    <div class="d-block d-sm-none">
                        <a class="nav-link dropdown-toggle action-item action-bar__icons-section--more" href="#"></a>
                    </div>


                </div>
            </div>

        </div>



        <div class="material-card mb-grid-gutter scale-entrance">
            <div class="material-card__header">
                <img class="material-card__header--img" src="https://placeimg.com/640/200/any" alt="pic">
                <span class="material-card__text">
                    <span class="material-card__text--primary">Lorem ipsum, Pariatur laborum.</span>
                    <span class="material-card__text--secondary">Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit.
                        Sequi ut numquam voluptatem esse suscipit autem, vel accusamus tore.</span>
                </span>
                <div class="action-item collapsed material-card__header--collapse  material-card__header--icon"
                     data-toggle="collapse" data-target="#options"
                     aria-expanded="false" aria-controls="table1">
                    <i class="fas action-item__icon action-item__icon--collapse action-item__icon--sm"></i>
                </div>
            </div>
            <div class="material-card__body--graphic">
                <img class="" src="https://placeimg.com/640/200/any" alt="pic">
            </div>
            <div class="material-card__body">
                <div class="material-card__body--paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
                    aperiam fuga debitis totam explicabo dolore natus voluptatum eveniet voluptates facilis impedit,
                    facere
                    itaque deleniti repudiandae, repellendus nulla sint ratione neque?
                </div>
            </div>

            <div class="material-card__footer action-bar">
                <div class="action-bar__buttons-section d-sm-block d-none">
                    <button type="button" class="btn btn-text--blue">Guardar</button>
                    <button type="button" class="btn btn-text--green">Imprimir</button>
                </div>
                <div class="action-bar__icons-section">
                    <div class="action-item">
                        <i class="fa fa-print action-item__icon action-item__icon--sm"></i>
                    </div>
                    <div class="action-item ">
                        <i class="fas fa-angle-left action-item__icon action-item__icon--sm"></i>
                    </div>
                    <div class="d-block d-sm-none">
                        <a class="nav-link dropdown-toggle action-item action-bar__icons-section--more" href="#"></a>
                    </div>


                </div>
            </div>


        </div>
    </div>

    </div>
</div>

</body>

</html>
