
<div class="d-flex justify-content-center">
    <button type="button" class="mr-3 btn btn--outline--blue" onclick="graphMultiBar()">MultiBar</button>
    <button type="button" class="mr-3 btn btn--outline--blue" onclick="graphStackbar()">MultiBar</button>
    <button type="button" class="mr-3 btn btn--outline--green" onclick="graphBar()">Bar</button>
    <button type="button" class="mr-3 btn btn--outline--purple" onclick="graphHorizontalBar()">HorizontalBar</button>
    <button type="button" class="mr-3 btn btn--outline--teal" onclick="graphLine()">Line</button>
    <button type="button" class="mr-3 btn btn--outline--orange" onclick="graphPie()">Pie</button>
    <button type="button" class="btn btn--outline--yellow" onclick="graphDoughnut()">Doughnut</button>
</div>



  <div class="container">
      <canvas id="myChart7" data-taget="chart" ></canvas>
      <br>
      <canvas id="myChart1" data-taget="chart" ></canvas>
      <br>
      <canvas id="myChart2" data-taget="chart" ></canvas>
      <br>
      <canvas id="myChart3" data-taget="chart" ></canvas>
      <br>
      <canvas id="myChart4" data-taget="chart" ></canvas>
      <br>
      <canvas id="myChart5" data-taget="chart" ></canvas>
      <br>
      <canvas id="myChart6"  data-taget="chart"></canvas>
  </div>
