

    <div class="container">
        <div class="row">
            <div class="col-sm-4 offset-sm-4">

                <div class="panel mb-grid-gutter">
                    <div class="panel__header action-bar">
                        <span class="panel__text">
                            <span class="panel__text--primary">Ejemplo de chat</span>
                        </span>
                    </div>
                    <div class="divider"></div>
                    <div class="panel__body">

                        <div class="chat">
                            <i class="fas fa-circle-user chat__icon text-blue"></i>
                            <div class="chat__wrapper">
                                <div class="chat__bubble">
                                    <div class="chat__title">Gallego Robles, Marco</div>
                            	     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
                                </div>
                                <div class="chat__caption caption">10:49 am</div>
                            </div>
                        </div>
                        <div class="chat chat--me">
                            <i class="fas fa-circle-user chat__icon text-green"></i>
                            <div class="chat__wrapper">
                                <div class="chat__bubble">
                                    <div class="chat__title">Yo</div>
                                     Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                                </div>
                                <div class="chat__caption caption">10:49 am</div>
                            </div>
                        </div>
                        <div class="chat">
                            <i class="fas fa-circle-user chat__icon text-red"></i>
                            <div class="chat__wrapper">
                                <div class="chat__bubble">
                                     Si
                                </div>
                                <div class="chat__caption caption">10:51 am</div>
                            </div>
                        </div>
                        <div class="chat chat--me">
                            <i class="fas fa-circle-user chat__icon text-yellow"></i>
                            <div class="chat__wrapper">
                                <div class="chat__bubble">
                                     No
                                </div>
                                <div class="chat__caption caption">10:51 am</div>
                            </div>
                        </div>



                    </div>
                </div>

            </div>
        </div>
    </div>
