<div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8">
        <div class="panel mb-grid-gutter scale-entrance">
            <div class="panel__body">
                <div>
                    <div class="overline">Choice Chips spacing</div>
                    <div class="chip-wrapper mb-3">
                        <div class="material-chip">Monday</div>
                        <div class="material-chip">Tuesday</div>
                        <div class="material-chip">Wednesday</div>
                    </div>
                    <div class="overline">Choice Chips</div>
                    <div class="mb-3">
                        <div class="material-chip">
                            <span>action chip</span>
                        </div>
                        <div class="material-chip">
                            <span>small</span>
                        </div>
                        <div class="material-chip material-chip--blue">
                            <span> extra extra large color</span>
                        </div>
                        <div class="material-chip material-chip--yellow">
                            <span> extra extra large color</span>
                        </div>
                        <div class="material-chip material-chip--red">
                            <span> extra extra large color</span>
                        </div>
                        <div class="material-chip material-chip--purple">
                            <span> extra extra large color</span>
                        </div>
                        <div class="material-chip material-chip--teal">
                            <span> extra extra large color</span>
                        </div>
                    </div>

                    <div class="overline">Filter Chips</div>

                    <div class="mb-3">
                        <div class="material-chip">
                            <div class="material-chip__icon">
                                <i class="fas fa-check"></i>
                            </div>
                            <span>input chip</span>
                        </div>
                        <div class="material-chip material-chip--blue">
                            <div
                                class="material-chip__icon material-chip__icon--radius"
                            >
                                <i class="fas fa-check"></i>
                            </div>
                            <span>input chip </span>
                            <div class="material-chip__remove-icon">
                                <i class="fas fa-circle-xmark"></i>
                            </div>
                        </div>
                        <div class="material-chip material-chip--red">
                            <div class="material-chip__icon">
                                <i class="fas fa-check"></i>
                            </div>
                            <span>input chip</span>
                        </div>
                        <div class="material-chip material-chip--yellow">
                            <div class="material-chip__icon">
                                <i class="fas fa-check"></i>
                            </div>
                            <span>input chip</span>
                            <div class="material-chip__remove-icon">
                                <i class="fas fa-circle-xmark"></i>
                            </div>
                        </div>
                        <div class="material-chip material-chip--cyan">
                            <div class="material-chip__icon">
                                <i class="fas fa-check"></i>
                            </div>
                            <span>input chip</span>
                            <div class="material-chip__remove-icon">
                                <i class="fas fa-circle-xmark"></i>
                            </div>
                        </div>
                        <div class="material-chip material-chip--teal">
                            <div class="material-chip__icon">
                                <i class="fas fa-check"></i>
                            </div>
                            <span>input chip</span>
                            <div class="material-chip__remove-icon">
                                <i class="fas fa-circle-xmark"></i>
                            </div>
                        </div>
                    </div>
                    <div class="overline">Shaped Chips Square</div>
                    <div class="mb-3">
                        <div class="material-chip material-chip--square">
                            <span>input chip</span>
                        </div>
                        <div class="material-chip material-chip--square">
                            <div class="material-chip__icon">
                                <i class="fas fa-check"></i>
                            </div>
                            <span>input chip</span>
                            <div class="material-chip__remove-icon">
                                <i class="fas fa-circle-xmark"></i>
                            </div>
                        </div>
                    </div>
                    <div class="overline">Outlined Action Chip</div>
                    <div class="material-chip material-chip--outline">
                        <span>input chip</span>
                    </div>
                    <div class="material-chip material-chip--outline">
                        <div class="material-chip__icon">
                            <i class="fas fa-check"></i>
                        </div>
                        <span>input chip</span>
                        <div class="material-chip__remove-icon">
                            <i class="fas fa-circle-xmark"></i>
                        </div>
                    </div>
                    <div
                        class="material-chip material-chip--outline material-chip--teal"
                    >
                        <div class="material-chip__icon">
                            <i class="fas fa-check"></i>
                        </div>
                        <span>input chip</span>
                        <div class="material-chip__remove-icon">
                            <i class="fas fa-circle-xmark"></i>
                        </div>
                    </div>

                    <div class="overline">Soft color chips</div>
                    <div class="mb-3">
                        <div class="material-chip material-chip--soft-green">
                            <div class="material-chip__icon">
                                <i class="fas fa-check"></i>
                            </div>
                            <span>Green chip</span>
                        </div>
                        <div class="material-chip material-chip--soft-yellow">
                            <div class="material-chip__icon">
                                <i class="fas fa-exclamation"></i>
                            </div>
                            <span>Yellow chip</span>
                        </div>
                        <div class="material-chip material-chip--soft-red">
                            <div class="material-chip__icon">
                                <i class="fas fa-ban"></i>
                            </div>
                            <span>Red chip</span>
                        </div>
                    </div>
                    <div class="overline">Disabled</div>

                    <div class="material-chip material-chip--disable mb-3">
                        <span class="text-white"> disable </span>
                    </div>
                    <div class="overline">
                        Attachment styles (inside parent div for auto margin)
                    </div>
                    <div class="mb-3">
                        <div
                            class="material-chip material-chip--square material-chip__attach"
                        >
                            <div class="material-chip__icon">
                                <i class="fas fa-file text-blue"></i>
                            </div>
                            <span class="material-chip__text">
                                <span class="material-chip__text--primary">
                                    attachment chip attachment chip attachment
                                    chip attachment chip attachment chip
                                    attachment chip attachment chip attachment
                                    chip
                                    <span class="text-clear-gray"
                                        >( 32 Mb )</span
                                    >
                                </span>
                            </span>
                            <div class="material-chip__remove-icon">
                                <i class="fas fa-download"></i>
                            </div>
                        </div>

                        <div
                            class="material-chip material-chip--square material-chip__attach"
                        >
                            <div class="material-chip__icon">
                                <i class="fas fa-file-pdf text-red"></i>
                            </div>
                            <span class="material-chip__text">
                                <span class="material-chip__text--primary">
                                    attachment chip attachment chip attachment
                                    chip attachment chip attachment chip
                                    attachment chip attachment chip attachment
                                    chip
                                    <span class="text-clear-gray"
                                        >( 32 Mb )</span
                                    >
                                </span>
                            </span>
                            <div class="material-chip__remove-icon">
                                <i class="fas fa-download"></i>
                            </div>
                        </div>
                    </div>
                    <div class="overline">
                        Usamos este normalmente cuando se elimina
                    </div>

                    <div class="d-flex">
                        <div
                            class="flex-grow-1"
                            style="max-width: calc(100% - 3rem)"
                        >
                            <a href="#" class="" target="_blank">
                                <div
                                    class="material-chip material-chip--square material-chip__attach mb-2"
                                >
                                    <div class="material-chip__icon">
                                        <i class="far fa-image text-dark"></i>
                                    </div>
                                    <span class="material-chip__text">
                                        <span
                                            class="material-chip__text--primary"
                                        >
                                            Nombre_del_archivo_Nombre_del_archivo.png
                                            (image/png 207K)
                                        </span>
                                    </span>
                                    <div class="material-chip__remove-icon">
                                        <i class="fas fa-download"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <a
                            class="action-item action-item--md ml-2"
                            href="#"
                            data-toggle="tooltip"
                            title=""
                            data-original-title="Eliminar archivo"
                            data-placement="bottom"
                        >
                            <i
                                class="far fa-trash-can text-red action-item__icon"
                            ></i>
                        </a>
                    </div>

                    <div class="d-flex" id="badges">
                        <span
                            class="mx-2 badge badge-blue font-weight-normal mb-1 custom-text"
                            >blue</span
                        >

                        <span
                            class="mx-2 badge badge-green font-weight-normal mb-1 custom-text"
                            >green</span
                        >

                        <span
                            class="mx-2 badge badge-red font-weight-normal mb-1 custom-text"
                            >red</span
                        >

                        <span
                            class="mx-2 badge badge-yellow font-weight-normal mb-1 custom-text"
                            >yellow</span
                        >

                        <span
                            class="mx-2 badge badge-orange font-weight-normal mb-1 custom-text"
                            >orange</span
                        >

                        <span
                            class="mx-2 badge badge-purple font-weight-normal mb-1 custom-text"
                            >purple</span
                        >

                        <span
                            class="mx-2 badge badge-pink font-weight-normal mb-1 custom-text"
                            >pink</span
                        >

                        <span
                            class="mx-2 badge badge-lime font-weight-normal mb-1 custom-text"
                            >lime</span
                        >

                        <span
                            class="mx-2 badge badge-teal font-weight-normal mb-1 custom-text"
                            >teal</span
                        >

                        <span
                            class="mx-2 badge badge-gray font-weight-normal mb-1 custom-text"
                            >gray</span
                        >

                        <span
                            class="mx-2 badge badge-dark font-weight-normal mb-1 custom-text"
                            >dark</span
                        >

                        <span
                            class="mx-2 badge badge-neutral font-weight-normal mb-1 custom-text"
                            >neutral</span
                        >
                        <span
                            class="mx-2 badge badge-light font-weight-normal mb-1 custom-text"
                            >light</span
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
