<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Colors</title>
  </head>

  <body>
    <h3>Colores</h3>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-4">
          <div class="panel">
            <div class="panel__body">
              <table class="table table table-sm table--wide">
                <tbody>
                  <tr>
                    <td
                      class="p-3"
                      style="background-color: var(--color-blue-98)"
                    >
                      blue 98
                    </td>
                    <td
                      class="p-3"
                      style="background-color: var(--color-blue-95)"
                    >
                      blue 95
                    </td>
                    <td
                      class="p-3"
                      style="background-color: var(--color-blue-90)"
                    >
                      blue 90
                    </td>
                    <td
                      class="p-3"
                      style="background-color: var(--color-blue-80)"
                    >
                      blue 80
                    </td>
                    <td
                      class="p-3"
                      style="background-color: var(--color-blue-70)"
                    >
                      blue 70
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="p-3"
                      style="background-color: var(--color-blue-60)"
                    >
                      blue 60
                    </td>
                    <td
                      class="p-3"
                      style="background-color: var(--color-blue-50)"
                    >
                      blue 50
                    </td>
                    <td
                      class="p-3"
                      style="background-color: var(--color-blue-40)"
                    >
                      blue 40
                    </td>
                    <td
                      class="p-3"
                      style="background-color: var(--color-blue-35)"
                    >
                      blue 35
                    </td>
                    <td
                      class="p-3"
                      style="background-color: var(--color-blue-30)"
                    >
                      blue 30
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="p-3"
                      style="background-color: var(--color-blue-25)"
                    >
                      blue 25
                    </td>
                    <td
                      class="p-3"
                      style="background-color: var(--color-blue-20)"
                    >
                      blue 20
                    </td>
                    <td
                      class="p-3"
                      style="background-color: var(--color-blue-15)"
                    >
                      blue 15
                    </td>
                    <td
                      class="p-3"
                      style="background-color: var(--color-blue-10)"
                    >
                      blue 10
                    </td>
                    <td
                      class="p-3"
                      style="background-color: var(--color-blue-5)"
                    >
                      blue 5
                    </td>
                  </tr>
                </tbody>
              </table>

              <h4 class="text-blue mb-3">Azul</h4>
              <div class="bg-blue text-white mb-3 p-3">
                <h4>Azul</h4>
              </div>
              <div class="alert alert--soft-blue">Alert Azul</div>
              <div class="material-chip material-chip--soft-blue">
                <div class="material-chip__icon">
                  <i class="fas fa-user-circle"></i>
                </div>
                <span>Blue chip</span>
              </div>
              <button type="button" class="btn btn--blue">Blue</button>
            </div>
          </div>
        </div>
        <div class="col-4 alternate-colors">
          <div class="panel">
            <div class="panel__body">
              <table class="table table table-sm table--wide">
                <tbody>
                  <tr>
                    <td
                      class="p-3"
                      style="background-color: var(--color-blue-98)"
                    >
                      blue 98
                    </td>
                    <td
                      class="p-3"
                      style="background-color: var(--color-blue-95)"
                    >
                      blue 95
                    </td>
                    <td
                      class="p-3"
                      style="background-color: var(--color-blue-90)"
                    >
                      blue 90
                    </td>
                    <td
                      class="p-3"
                      style="background-color: var(--color-blue-80)"
                    >
                      blue 80
                    </td>
                    <td
                      class="p-3"
                      style="background-color: var(--color-blue-70)"
                    >
                      blue 70
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="p-3"
                      style="background-color: var(--color-blue-60)"
                    >
                      blue 60
                    </td>
                    <td
                      class="p-3"
                      style="background-color: var(--color-blue-50)"
                    >
                      blue 50
                    </td>
                    <td
                      class="p-3"
                      style="background-color: var(--color-blue-40)"
                    >
                      blue 40
                    </td>
                    <td
                      class="p-3"
                      style="background-color: var(--color-blue-35)"
                    >
                      blue 35
                    </td>
                    <td
                      class="p-3"
                      style="background-color: var(--color-blue-30)"
                    >
                      blue 30
                    </td>
                  </tr>
                  <tr>
                    <td
                      class="p-3"
                      style="background-color: var(--color-blue-25)"
                    >
                      blue 25
                    </td>
                    <td
                      class="p-3"
                      style="background-color: var(--color-blue-20)"
                    >
                      blue 20
                    </td>
                    <td
                      class="p-3"
                      style="background-color: var(--color-blue-15)"
                    >
                      blue 15
                    </td>
                    <td
                      class="p-3"
                      style="background-color: var(--color-blue-10)"
                    >
                      blue 10
                    </td>
                    <td
                      class="p-3"
                      style="background-color: var(--color-blue-5)"
                    >
                      blue 5
                    </td>
                  </tr>
                </tbody>
              </table>

              <h4 class="text-blue mb-3">Azul</h4>
              <div class="bg-blue text-white mb-3 p-3">
                <h4>Azul</h4>
              </div>
              <div class="alert alert--soft-blue">Alert Azul</div>
              <div class="material-chip material-chip--soft-blue">
                <div class="material-chip__icon">
                  <i class="fas fa-user-circle"></i>
                </div>
                <span>Blue chip</span>
              </div>
              <button type="button" class="btn btn--blue">Blue</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
