
<div class="container">
  <div class="row material-form">
    <div class="col-md-6 offset-md-3">
      <div class="d-flex justify-content-center">
        <button class="btn btn--outline--blue" onclick="dateTime()">Picame</button>
      </div>
      <br>
      <h4>Date Time Picker</h4>
      <div >

        <div class="material-form__container">
          <input type="text" placeholder="" name="" id="datetimepicker1"  data-target="#datetimepicker1" data-toggle="datetimepicker" dir="auto" aria-required="true" required="" readonly>
          <label for="datetimepicker1"></label>
          <div class="material-form__icon-right">
            <i class="far fa-calendar text-blue"></i>
          </div>
        </div>
      </div>
      <h4>Time Picker</h4>
      <div >
        <div class="material-form__container "  >
          <input type="text" placeholder="" id="datetimepicker2" data-target="#datetimepicker2" data-toggle="datetimepicker"  dir="auto" aria-required="true" required=""  readonly >
          <label  ></label>
          <div class="material-form__icon-right">
            <i class="far fa-calendar text-blue"></i>
          </div>
        </div>
      </div>
      <h4>Date Picker</h4>
      <div >
        <div class="material-form__container date"  >
          <input type="text" placeholder="" id="datetimepicker3" data-target="#datetimepicker3" data-toggle="datetimepicker"  dir="auto" aria-required="true" required=""  readonly >
          <label></label>
          <div class="material-form__icon-right">
            <i class="far fa-calendar text-blue"></i>
          </div>
        </div>
      </div>


      <div >
        <div class="material-form__container" >
          <input type="text" class=" datetimepicker-input" id="datetimepicker4" data-toggle="datetimepicker" data-target="#datetimepicker4" dir="auto" required=""  readonly >
          <label>Test</label>
          <div class="material-form__icon-right">
            <i class="far fa-calendar text-blue"></i>
          </div>
        </div>
      </div>
      <h4>Date Picker 4 funcionando</h4>
      <div class="material-form">
        <div class="material-form__container">
          <input type="text" class="datepicker datetimepicker-input" data-toggle="datetimepicker" readonly="" data-target="#birthday" name="birthday" id="birthday" data-value="2006-11-16">

          <label for="birth_date" class="material-form__label--active">
            Fecha de nacimiento

          </label>
          <div class="material-form__icon-right">
            <i class="far fa-calendar text-blue"></i>
          </div>
          <div class="material-form__helper-text text-red" id="birthday_error"></div>
        </div>
      </div>

      <h4>Date Picker ejemplo de datos personales</h4>
      <div class="material-form">
        <div class="material-form__container">
          <input type="text" class="datepicker datetimepicker-input" data-toggle="datetimepicker" readonly="" data-target="#birthday" name="birthday" id="birthday" data-value="2006-12-12">

          <label for="birth_date" class="material-form__label--active">
            Fecha de nacimiento

          </label>
          <div class="material-form__icon-right">
            <i class="far fa-calendar text-blue"></i>
          </div>
          <div class="material-form__helper-text text-red" id="birthday_error"></div>
        </div>
      </div>




    </div>
  </div>
</div>

