<div class="dropdown mb-3">
    <button class="btn btn--blue dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>

<div class="dropdown mb-3">
    <button class="btn btn--blue dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown Truncate text + Icon + Right position
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#"><i class="fas fa-headset dropdown-menu__icon"></i>Soporte técnico</a>
        <a class="dropdown-item text-truncate" href="#"><i class="fa fa-circle-info dropdown-menu__icon"></i><span class="text-truncate">Dennis Joy, Alfaro Espinoza</span></a>
        <a class="dropdown-item" href="#"><i class="far fa-moon dropdown-menu__icon"></i>Modo nocturno</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#"><i class="fas fa-right-from-bracket dropdown-menu__icon"></i>Cerrar sesión</a>
    </div>
</div>

<div class="dropdown mb-3">
    <button class="btn btn--blue dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown auto-width text
    </button>
    <div class="dropdown-menu dropdown-menu--auto-width" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#"><i class="fas fa-headset dropdown-menu__icon"></i>Soporte técnico</a>
        <a class="dropdown-item text-truncate" href="#"><i class="fa fa-circle-info dropdown-menu__icon"></i>Dennis Joy, Alfaro Espinoza Jo Jo Jo</a>
        <a class="dropdown-item" href="#"><i class="far fa-moon dropdown-menu__icon"></i>Modo nocturno</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#"><i class="fas fa-right-from-bracket dropdown-menu__icon"></i>Cerrar sesión</a>
    </div>
</div>

<div class="dropdown">
    <button class="btn btn--light dropdown-toggle" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Condensed + icons
    </button>
    <div class="dropdown-menu dropdown-menu--nav-overflow dropdown-menu--condensed">
        <div class="dropdown-header">Dropdown header</div>
        <a class="dropdown-item" href="#">General</a>
        <a class="dropdown-item" href="#">Contactos</a>
        <a class="dropdown-item" href="#">Anotaciones</a>
        <a class="dropdown-item" href="#"><i class="fas fa-folder dropdown-menu__icon"></i> Documentos</a>
        <a class="dropdown-item" href="#">Reportes</a>
        <a class="dropdown-item" href="#">Historial</a>
        <a class="dropdown-item" href="#">Constancias</a>
        <a class="dropdown-item" href="#">Servicio social</a>
        <a class="dropdown-item" href="#">Archivos compartidos</a>
        <a class="dropdown-item" href="#">Encuestas</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Desactivar</a>
    </div>
</div>

<div class="material-card__header">
    <span class="material-card__text">
            <span class="material-card__text--primary">Lorem ipsum, Pariatur laborum.</span>
            <span class="material-card__text--secondary">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Sequi ut numquam voluptatem esse suscipit autem, vel accusamus tore.</span>
          </span>
    <div class="action-item  material-card__header--icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <i class="fas fa-ellipsis-vertical  action-item__icon action-item__icon--sm"></i>
        <div class="dropdown-menu dropdown-menu-right">
            <button class="dropdown-item" type="button">Action</button>
            <button class="dropdown-item" type="button">Another action</button>
            <button class="dropdown-item" type="button">Something else here</button>
        </div>
    </div>
</div>

<h5>Checkboxes</h5>
<div class="dropdown mb-3">
    <button class="btn btn--blue dropdown-toggle" type="button" id="dropdownCheck" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownCheck">
        <label class="material-check dropdown-item ">
            <input type="checkbox" class="hidden" name="all_levels">
            <span class="material-check__checkbox-container"><i class="material-check__checkbox"></i></span>
            <span class="text-checkbox">example</span>
        </label>
        <label class="dropdown-item material-check">
            <input type="checkbox" class="hidden" name="all_levels">
            <span class="material-check__checkbox-container"><i class="material-check__checkbox"></i></span>
            <span class="text-checkbox text-truncate">Example 2 Example 2 Example 2 Example 2 Example 2 Example 2</span>
        </label>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>

          
<h3>Para el Suggest</h3>

<div id="as_receiver_list" class="autosuggest" style="left: 511px;top: 434px;width: 763px;">
    <ul id="as_ul" class="dropdown-menu show dropdown-menu--list" style="max-height: 16rem;">
        <li>
            <a class="dropdown-item" href="#">
                <i class="fa fa-circle-user dropdown-menu__icon"></i>
                <div class="dropdown-item__text">
                    <span class="dropdown-item__text--primary">Dennis Joy,</span> 
                    <span class="dropdown-item__text--secondary">Alfaro Espinoza</span>
                </div> 
            </a>    
        </li>
        <li>
            <a class="dropdown-item" href="#">
                <i class="fa fa-circle-user dropdown-menu__icon text-yellow"></i>
                <div class="dropdown-item__text">
                    <span class="dropdown-item__text--primary">Cerezo Alicia,</span> 
                    <span class="dropdown-item__text--secondary">Profesor</span>
                </div> 
            </a>    
        </li>
        <li>
            <a class="dropdown-item" href="#">
                <i class="fa fa-circle-user dropdown-menu__icon text-green"></i>
                <div class="dropdown-item__text">
                    <span class="dropdown-item__text--primary">Alan<strong class="text-red">is</strong> Julieta,</span> 
                    <span class="dropdown-item__text--secondary">Administrador u operador</span>
                </div> 
            </a>    
        </li>
        <li>
            <a class="dropdown-item" href="#">
                <i class="fa fa-circle-user dropdown-menu__icon text-red"></i>
                <div class="dropdown-item__text">
                    <span class="dropdown-item__text--primary">Denn<strong class="text-red">is</strong> Joy,</span> 
                    <span class="dropdown-item__text--secondary">Administrador u operador</span>
                </div> 
            </a>   
        </li>
        <li>
            <a class="dropdown-item" href="#">
                <i class="fa fa-circle-user dropdown-menu__icon text-blue"></i>
                <div class="dropdown-item__text">
                    <span class="dropdown-item__text--primary">Hill Torres<strong class="text-red">Is</strong>rael</span> 
                    <span class="dropdown-item__text--secondary">Estudiante</span>
                </div> 
            </a>   
        </li>
        <li class="material-list__item ">
            <a href="javascript:;" name="1">
                <span class="tl"> </span>
                <span class="tr"> </span>
                <span>OJED<em>A</em> SOTO, LUZ DEL CARMEN<br><small>Administrador u operador</small>
                    <small class="extra-info"></small>
                </span>
            </a>
        </li>
    </ul>
</div>