<div class="row">
    <div class="col-md-4">
        <div class="panel mb-grid-gutter scale-entrance">
            <div class="panel__body">
        <div class="overline">Filled</div>
        <div class="material-form">
            <div class="material-form__container">
                <input type="text" placeholder="" name="" id="tel" dir="auto" aria-required="true" required="">
                <label for="tel">Teléfono</label>
                <div class="material\-form__helper\-text text\-red" id="tel_error"></div>
            </div>
        </div>
        <div class="material-form">
            <div class="material-form__container">
                <div class="material-form__icon-left">
                    <i class="far fa-calendar text-dark"></i>
                </div>
                <input type="text" class="material-form__input-icon-left" placeholder=""  id="example" dir="auto" aria-required="true" required="">
                <label class="material-form__input-icon-left" for="example">Nombre completo </label>
                <div class="material-form__helper-text text-red" id="example_error"></div>
            </div>
        </div>
        <div class="overline">Disabled</div>
        <div class="material-form">
            <div class="material-form__container">
                <input type="text" class="material-form__input--active" placeholder="" name="" id="tel" dir="auto" aria-required="true" required="" disabled>
                <label for="tel">Teléfono</label>
            </div>
        </div>
        <div class="material-form">
            <div class="material-form__container">
                <div class="material-form__icon-left">
                    <i class="far fa-calendar text-blue"></i>
                </div>
                <input type="text" class="material-form__input-icon-left " placeholder=""  id="example" dir="auto" aria-required="true" required="" disabled>
                <label class="material-form__input-icon-left" for="example">Nombre completo </label>
            </div>
        </div>
        <div class="material-form">
            <div class="material-form__container">
                <input type="text" placeholder=""  id="exampleIcon" dir="auto" aria-required="true" required="" disabled>
                <label for="exampleIcon" >Nombre completo </label>
                <div class="material-form__icon-right">
                    <i class="far fa-calendar text-blue"></i>
                </div>
            </div>
        </div>
        <div class="overline">Shaped Filled</div>
        <div class="material-form">
            <div class="material-form__container material-form__container--radius">
                <input type="text" placeholder="" name="" id="tel" dir="auto" aria-required="true" required="">
                <label for="tel" >Teléfono</label>
                <div class="material-form__helper-text text-red" id="tel_error"></div>
            </div>
        </div>
        <div class="material-form">
            <div class="material-form__container material-form__container--radius">
                <div class="material-form__icon-left">
                    <i class="far fa-calendar text-dark"></i>
                </div>
                <input type="text" class="material-form__input-icon-left" placeholder=""  id="example" dir="auto" aria-required="true" required="">
                <label class="material-form__input-icon-left" for="example">Nombre completo </label>
                <div class="material-form__helper-text text-red" id="example_error"></div>
            </div>
        </div>
        <div class="material-form">
            <div class="material-form__container material-form__container--radius">
                <input type="text" placeholder=""  id="exampleIcon" dir="auto" aria-required="true" required="">
                <label for="exampleIcon">Nombre completo </label>
                <div class="material-form__icon-right">
                    <i class="far fa-calendar text-dark"></i>
                </div>
                <div class="material-form__helper-text text-red" id="exampleIcon_error"></div>
            </div>
        </div>
        <div class="overline">Textarea</div>
        <div class="material-form">
            <div class="material-form__container">
                <textarea placeholder="" name="" id="textarea" aria-required="true" required=""></textarea>
                <label for="textarea" class="form__label">Nombre completo </label>
                <div class="material-form__helper-text text-red" id="form_label_error"></div>
            </div>
        </div>
        <div class="material-form">
            <div class="material-form__container material-form__container--radius">
                <textarea placeholder="" name="" id="textarea" aria-required="true" required=""></textarea>
                <label for="textarea" class="form__label">Nombre completo </label>
                <div class="material-form__helper-text text-red" id="form_label_error"></div>
            </div>
        </div>
        <div class="overline">Text Area Error</div>
        <div class="material-form">
            <div class="material-form__container">
                <input class="material-form__input--error" type="text" placeholder=""  id="exampleError" dir="auto" aria-required="true" required="">
                <label for="exampleError" class="form__label">Nombre completo </label>
                <div class="material-form__icon-right">
                    <i class="fas fa-circle-exclamation text-red"></i>
                </div>
                <div class="material-form__helper-text text-red" id="form_label_error"></div>
            </div>
            <p class="has__error" for="">Error message</p>
        </div>
        <div class="overline">Text Area Warning</div>
        <div class="material-form">
            <div class="material-form__container">
            <input class="material-form__input--warning" type="text" placeholder="" name="entry.1629778957" id="entry_1629778957" dir="auto" aria-required="true" required="">
            <label for="entry_1629778957" class="form__label">Nombre completo </label>
            <div class="material-form__icon-right">
                <i class="fas fa-circle-exclamation text-yellow"></i>
            </div>
            <div class="material-form__helper-text text-red" id="form_label_error"></div>
        </div>
            <p class="has__warning" for="">Warning message</p>
        </div>
        <div class="overline">Select</div>
        <div class="material-form">
            <div class="material-form__container">
                <select class="" id="example">
                    <option value="" disabled="" selected=""></option>
                    <option value="apple">Apple</option>
                    <option value="orange">Orange</option>
                    <option value="banana">Banana</option></select>
                </select>
                <label class="" for="example">Example</label>
                <div class="material-form__icon-right">
                    <i class="fas fa-sort-down"></i>
                </div>
                <div class="material-form__helper-text text-red" id="example_error"></div>
            </div>
        </div>
            </div>
        </div>
                <div class="panel mb-grid-gutter scale-entrance">
                    <div class="panel__body">
        <div class="text-center">
            <button onclick="select2()" class="btn btn--outline--blue mb-3">
                click for active select
            </button>
        </div>

        <div class="overline">Select 2 Plugin</div>
        <div class="material-form">
            <div class="material-form__container">
                <select class="js-example-basic-single" name="state">
                    <option value="AL">Alabama</option>
                    <option value="WY">Wyoming</option>
                </select>
                <label class="" for="example">Example</label>
                <div class="material-form__helper-text text-red" id="example_error"></div>
            </div>
        </div>
        <div class="material-form">
            <div class="material-form__container material-form__container--radius">
                <select class="js-example-basic-multiple" name="states" multiple="multiple">
                    <option value="AL">Alabama</option>
                    <option value="WY">Wyoming</option>
                    <option value="apple">Apple</option>
                    <option value="orange">Orange</option>
                    <option value="banana">Banana</option>
                    <option value="apple">Apple2</option>
                    <option value="orange">Orang2e</option>
                    <option value="banana">Banana2</option>
                </select>
                <label class="" for="example">Example</label>
                <div class="material-form__helper-text text-red" id="example_error"></div>
            </div>
        </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel mb-grid-gutter scale-entrance">
            <div class="panel__header action-bar">
                <span class="panel__text">
                    <span class="panel__text--primary panel__text--complete">Input groups</span>
                </span>
            </div>
            <div class="divider"></div>
            <div class="panel__body">
                <div >

                    <div class="grouper">
                        <div class="overline">with icon</div>
                        <div class="material-form mb-2">
                            <div class="material-form__group-wrapper">
                                <div class="material-form--group">
                                    <div class="material-form__container">
                                        <input type="text" class="material-form__input--sm" placeholder="Buscar"  id="example" dir="auto" aria-required="true" required="">
                                    </div>
                                    <div class="material-form material-form__action">
                                        <i class="fa fa-magnifying-glass "></i>
                                    </div>
                                </div>
                            </div>
                            <div class="material-form__helper-text" id="something">Mensaje ayuda</div>
                        </div>
                        <div class="material-form mb-2">
                            <div class="material-form__group-wrapper">
                                <div class="material-form--group">
                                    <div class="material-form__container">
                                        <input type="text" class="material-form__input--sm" placeholder="Ejemplo"  id="example" dir="auto" aria-required="true" required="">
                                    </div>
                                    <div class="material-form material-form__action">
                                        <i class="fa fa-xmark text-red material-form__action-icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="material-form__helper-text" id="something">Mensaje ayuda</div>
                        </div>
                        <div class="material-form mb-2">
                            <div class="material-form__group-wrapper">
                                <div class="material-form--group material-form__input--error" id="example_fake">
                                    <div class="material-form__container">
                                        <input type="text" class="material-form__input--sm" placeholder="Precio" dir="auto" aria-required="true" required="" value="Nop">
                                    </div>
                                    <div class="material-form material-form__action">
                                        <i class="fa fa-xmark text-red material-form__action-icon"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="material-form__helper-text text-red" id="example_fake">Mensaje ayuda</div>
                        </div>
                    </div>
                    <div class="grouper">
                        <div class="overline">kgs $ </div>
                        <div class="material-form mb-2">
                            <div class="material-form material-form--group">
                                <div class="material-form__container">
                                    <input type="text" class="material-form__input--sm" placeholder="Peso"  id="example" dir="auto" aria-required="true" required="">
                                </div>
                                <div class="material-form__extra-text">
                                    Kgs.
                                </div>
                            </div>
                            <div class="material-form__helper-text" id="something">Mensaje ayuda</div>
                        </div>
                        <div class="material-form mb-2">
                            <div class="material-form material-form--group">
                                <div class="material-form__container">
                                    <input type="text" class="material-form__input--right material-form__input--sm" placeholder="0 - 100"  id="example" dir="auto" aria-required="true" required="" value="90">
                                </div>
                                <div class="material-form__extra-text">
                                    /100
                                </div>
                            </div>
                            <div class="material-form__helper-text" id="something">Mensaje ayuda</div>
                        </div>
                        <div class="material-form mb-2">
                            <div class="material-form material-form--group">
                                <div class="material-form__extra-text">
                                    $
                                </div>
                                <div class="material-form__container">
                                    <input type="text" class="material-form__input--left material-form__input--sm" placeholder="Precio"  id="example" dir="auto" aria-required="true" required="" value="2.00">
                                </div>
                            </div>
                            <div class="material-form__helper-text" id="something">Mensaje ayuda</div>
                        </div>
                        <div class="overline">kgs $ with label</div>
                        <div class="material-form mb-2">
                            <div class="material-form material-form--group">
                                <div class="material-form__container">
                                    <input type="text" class="" placeholder="Peso"  id="example" dir="auto" aria-required="true" required="">
                                    <label for="subject" class="material-form__label--active">Label</label>
                                </div>
                                <div class="material-form__extra-text">
                                    Kgs.
                                </div>
                            </div>
                            <div class="material-form__helper-text" id="something">Mensaje ayuda</div>
                        </div>
                        <div class="material-form mb-2">
                            <div class="material-form material-form--group">
                                <div class="material-form__container">
                                    <input type="text" class="material-form__input--right" placeholder="0 - 100"  id="example" dir="auto" aria-required="true" required="" value="90">
                                    <label for="subject" class="material-form__label--active">Label</label>
                                </div>
                                <div class="material-form__extra-text">
                                    /100
                                </div>
                            </div>
                            <div class="material-form__helper-text" id="something">Mensaje ayuda</div>
                        </div>
                        <div class="material-form mb-2">
                            <div class="material-form material-form--group">
                                <div class="material-form__extra-text">
                                    $
                                </div>
                                <div class="material-form__container">
                                    <input type="text" class="material-form__input--left" placeholder="Precio"  id="example" dir="auto" aria-required="true" required="" value="2.00">
                                    <label for="subject" class="material-form__label--active">Dinero</label>
                                </div>
                            </div>
                            <div class="material-form__helper-text" id="something">Mensaje ayuda</div>
                        </div>
                    </div>



                    <div class="overline">dark mode</div>
                    <div class="dark_mode" style="background-color: black;">
                        <div class="material-form mb-2">
                            <div class="material-form__group-wrapper">
                                <div class="material-form--group">
                                    <div class="material-form__container">
                                        <input type="text" class="" placeholder="Peso"  id="example" dir="auto" aria-required="true" required="">
                                        <label for="subject" class="material-form__label--active">Label</label>
                                    </div>
                                    <div class="material-form__extra-text">
                                        Kgs.
                                    </div>
                                </div>
                            </div>
                            <div class="material-form__helper-text" id="something">Mensaje ayuda</div>
                        </div>
                        <div class="material-form mb-2">
                            <div class="material-form__group-wrapper">
                                <div class="material-form--group">
                                    <div class="material-form__container">
                                        <input type="text" class="material-form__input--right" placeholder="0 - 100"  id="example" dir="auto" aria-required="true" required="" value="90">
                                        <label for="subject" class="material-form__label--active">Label</label>
                                    </div>
                                    <div class="material-form__extra-text">
                                        /100
                                    </div>
                                </div>
                            </div>
                            <div class="material-form__helper-text" id="something">Mensaje ayuda</div>
                        </div>
                        <div class="material-form mb-2">
                            <div class="material-form__group-wrapper">
                                <div class="material-form--group">
                                    <div class="material-form__extra-text">
                                        $
                                    </div>
                                    <div class="material-form__container">
                                        <input type="text" class="material-form__input--left" placeholder="Precio"  id="example" dir="auto" aria-required="true" required="" value="2.00">
                                        <label for="subject" class="material-form__label--active">Dinero</label>
                                    </div>
                                </div>
                            </div>
                            <div class="material-form__helper-text" id="something">Mensaje ayuda</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="panel mb-grid-gutter scale-entrance">
            <div class="panel__body">
                <div class="overline">Input file </div>

                <label for="file" class="btn btn--outline--blue w-100 js-labelFile">
                    <i class="icon fa fa-check"></i>
                    <input type="file" name="picture" class="input-file">
                    <span class="js-fileName btn--icon-space ">Choose a file</span>
                </label>

                <div class="overline"> real life example</div>
                <div class="profile px-0">
                    <a href="" class="btn btn--red mx-auto mb-3"><i class="far fa-trash-can mr-1"></i>Eliminar </a>
                    <div class="profile__wrapper">
                        <img class="profile__image" src="https://placeimg.com/640/200/any">
                    </div>
                    <div class="profile__text">
                        <div class="profile__text--primary">Fotografía de control escolar</div>

                        <div class="mx-auto mt-2">
                            <label for="file" class="btn btn--outline--blue w-100 js-labelFile">
                                <i class="icon fa fa-check"></i>
                                <input type="file" name="picture" id="picture" class="input-file">
                                <span class="js-fileName btn--icon-space ">Fotografía de control escolar</span>
                            </label>
                        </div>
                        <script type="text/javascript">
                            $(document).ready(function() {
                                fileInput();
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="col-md-4">
        <div class="panel mb-grid-gutter scale-entrance">
            <div class="panel__header action-bar">
                <span class="panel__text">
                    <span class="panel__text--primary panel__text--complete">real examples</span>
                </span>
            </div>
            <div class="divider"></div>
            <div class="panel__body pb-0">
                <div class="material-form">
                    <div class="material-form__container">
                        <input type="text" name="textInput" id="textInput">
                        <label for="textInput">Text input</label>
                        <div class="material-form__helper-text text-red" id="textInput_error"></div>
                    </div>
                </div>

                <div class="d-flex">
                    <div class="material-form fg-1 mr-3">
                        <div class="material-form__container">
                            <input type="text" id="username" name="username">
                            <label for="username">
                                Input with action
                            </label>
                            <div class="material-form__helper-text text-red" id="username_error">Action with tooltip please.</div>
                        </div>
                    </div>
                    <a href="javascript:null()" class="action-item mt-1" data-toggle="tooltip" title="" data-original-title="Info" data-placement="top">
                        <i class="fas fa-wand-magic text-blue action-item__icon"></i>
                    </a>
                </div>

                <div class="text-center">
                    <a href="javascript:null();" class="btn btn-text--blue mb-3">
                        Some Action
                    </a>
                </div>

                <div class="overline">Opciones</div>
                <label class="material-check">
                    <input type="checkbox" class="hidden" name="check1">
                    <span class="material-check__checkbox-container">
                        <i class="material-check__checkbox"></i>
                    </span>
                    <span class="text-checkbox">Checkbox 1</span>
                </label>
                <label class="material-check">
                    <input type="checkbox" class="hidden" name="check2">
                    <span class="material-check__checkbox-container">
                        <i class="material-check__checkbox"></i>
                    </span>
                    <span class="text-checkbox">Checkbox 2</span>
                </label>

                <div class="overline">Adjuntos</div>
                <div class="d-flex">
                    <div class="flex-grow-1" style="max-width: calc(100% - 3rem)">
                        <a href="#" class="" target="_blank">
                            <div class="material-chip material-chip--square material-chip__attach mb-2">
                                <div class="material-chip__icon">
                                    <i class="far fa-image text-dark"></i>
                                </div>
                                <span class="material-chip__text">
                                    <span class="material-chip__text--primary">
                                        Nombre_del_archivo_Nombre_del_archivo.png
                                        (image/png 207K)
                                    </span>
                                </span>
                                <div class="material-chip__remove-icon">
                                    <i class="fas fa-download"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                    <a class="action-item action-item--md ml-2" href="#" data-toggle="tooltip" title="" data-original-title="Eliminar archivo" data-placement="bottom">
                        <i class="far fa-trash-can text-red action-item__icon"></i>
                    </a>
                </div>

                <label for="comment" class="material-form__label">Textarea Label</label>
                <div class="material-form">
                    <div class="material-form__container">
                        <textarea name="comment" rows="4" class="" id="comment"></textarea>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
            <div class="panel__footer">
                <div class="action-bar">
                    <div class="action-bar__buttons-section">
                        <input type="submit" class="btn btn--blue" value="Aceptar">
                    </div>
                </div>
            </div>

        </div>
        <div class="panel panel--overflow mb-grid-gutter scale-entrance">
            <div class="panel__header ">
                <ul class="nav nav-tabs nav-fill" role="tablist">

                    <li class="nav-item nav-item--underline">
                        <a class="nav-link active  text-capitalize" data-toggle="tab" id="personal-tab" href="#personal-details-tab" role="tab" aria-selected="true">Datos personales</a>
                    </li>


                    <li class="nav-item nav-item--underline">
                        <a class="nav-link  text-capitalize" data-toggle="tab" href="#billing_information-tab" role="tab" aria-selected="false">Facturación</a>
                    </li>


                </ul>

            </div>

            <div class="tab-content">

                <div class="tab-pane fade show active" id="personal-details-tab" role="tabpanel">
                    <form method="post" data-block_form_button="1"  name="" id="" >

                        <div class="panel__body">
                            <div class="overline">Titulo grande</div>
                            <div class="material-form__label" for="no_assignments_criteria_grade">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto commodi consequuntur dolorem doloremque dolores dolorum ducimus ex incidunt ipsa ipsum, maxime nemo officia omnis optio porro reiciendis tempora tenetur, totam!
                            </div>
                            <div class="material-form">
                                <div class="material-form__container">
                                    <input type="number" min="0.000" max="10.000" maxlength="7" >
                                    <label for="no_assignments_criteria_grade" class="material-form__label--active"></label>
                                    <div class="material-form__helper-text text-red" id="no_assignments_criteria_grade_error"></div>
                                </div>
                            </div>
                            <div class="overline">normal</div>
                            <div class="material-form">
                                <div class="material-form__container">
                                    <input type="text" value="sdsds@hotmail.com" id="email" name="email">
                                    <label for="email">
                                        Correo electrónico

                                    </label>
                                    <div class="material-form__helper-text text-red" id="email_error"></div>
                                </div>
                            </div>
                            <div class="overline">material-form sm</div>
                            <div class="material-form material-form--sm">
                                <div class="material-form__container">
                                    <select id="blood_type2" name="blood_type">
                                        <option value=""></option>
                                        <option value="O+">O+</option>
                                        <option value="O-">O-</option>
                                        <option value="A+" selected="selected">A+</option>
                                        <option value="A-">A-</option>
                                        <option value="B+">B+</option>
                                        <option value="B-">B-</option>
                                        <option value="AB+">AB+</option>
                                        <option value="AB-">AB-</option>
                                    </select>
                                    <label for="blood_type">select peque (Opcional) </label>
                                    <div class="material-form__icon-right">
                                        <i class="fas fa-sort-down"></i>
                                    </div>
                                    <div class="material-form__helper-text text-red" id="blood_type_error"></div>
                                </div>
                            </div>
                            <div class="overline">datepicker</div>
                            <div class="material-form">
                                <div class="material-form__container">
                                    <input type="text" class="datepicker datetimepicker-input"
                                           data-toggle="datetimepicker" readonly="" data-target="#birthday" name="birthday" id="birthday" data-value="1976-02-25">

                                    <label for="birth_date" class="material-form__label--active">
                                        Fecha de nacimiento

                                    </label>
                                    <div class="material-form__icon-right">
                                        <i class="far fa-calendar text-dark"></i>
                                    </div>
                                    <div class="material-form__helper-text text-red" id="birthday_error"></div>
                                </div>
                            </div>
                            <div class="overline">select</div>


                            <div class="material-form">
                                <div class="material-form__container">
                                    <select id="blood_type" name="blood_type">
                                        <option value=""></option>
                                        <option value="O+">O+</option>
                                        <option value="O-">O-</option>
                                        <option value="A+" selected="selected">A+</option>
                                        <option value="A-">A-</option>
                                        <option value="B+">B+</option>
                                        <option value="B-">B-</option>
                                        <option value="AB+">AB+</option>
                                        <option value="AB-">AB-</option>
                                    </select>
                                    <label for="blood_type">Tipo de sangre
                                        (Opcional)</label>
                                    <div class="material-form__icon-right">
                                        <i class="fas fa-sort-down"></i>
                                    </div>
                                    <div class="material-form__helper-text text-red" id="blood_type_error"></div>
                                </div>
                            </div>


                            <a target="_blank" href="" class="text-center d-flex justify-content-center">
                                Aviso de privacidad Algebraix
                            </a>

                        </div>
                        <div class="divider"></div>
                        <div class="panel__footer">
                            <div class="action-bar">
                                <div class="action-bar__buttons-section ml-2">
                                    <button type="submit" class="submit btn btn--blue">Aceptar</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>


                <div class="tab-pane fade" id="billing_information-tab" role="tabpanel">
                    <div >
                        <div class="panel__body">
                            <div class="material-form">
                                <div class="material-form__container">
                                    <input type="text" name="" id="billing" value="" maxlength="4">
                                    <label for="billing">Dígitos de forma de pago</label>
                                    <div class="material-form__helper-text text-red" id="billing"></div>
                                </div>
                            </div>
                            <div class="material-form">
                                <div class="material-form__container">
                                    <select name="invoice_usage_type_code">

                                        <option value="G01" data-person="1" data-entity="1">Adquisición de mercancias</option>

                                        <option value="G02" data-person="1" data-entity="1">Devoluciones, descuentos o bonificaciones</option>

                                        <option value="G03" data-person="1" data-entity="1">Gastos en general</option>

                                        <option value="I01" data-person="1" data-entity="1">Construcciones</option>

                                        <option value="I02" data-person="1" data-entity="1">Mobilario y equipo de oficina por inversiones</option>

                                        <option value="I03" data-person="1" data-entity="1">Equipo de transporte</option>

                                        <option value="I04" data-person="1" data-entity="1">Equipo de computo y accesorios</option>

                                        <option value="I05" data-person="1" data-entity="1">Dados, troqueles, moldes, matrices y herramental</option>

                                        <option value="I06" data-person="1" data-entity="1">Comunicaciones telefónicas</option>

                                        <option value="I07" data-person="1" data-entity="1">Comunicaciones satelitales</option>

                                        <option value="I08" data-person="1" data-entity="1">Otra maquinaria y equipo</option>

                                        <option value="D01" data-person="1" data-entity="">Honorarios médicos, dentales y gastos hospitalarios</option>

                                        <option value="D02" data-person="1" data-entity="">Gastos médicos por incapacidad o discapacidad</option>

                                        <option value="D03" data-person="1" data-entity="">Gastos funerales</option>

                                        <option value="D04" data-person="1" data-entity="">Donativos</option>

                                        <option value="D05" data-person="1" data-entity="">Intereses reales efectivamente pagados por créditos hipotecarios (casa habitación)</option>

                                        <option value="D06" data-person="1" data-entity="" selected="selected">Aportaciones voluntarias al SAR</option>

                                        <option value="D07" data-person="1" data-entity="">Primas por seguros de gastos médicos</option>

                                        <option value="D08" data-person="1" data-entity="">Gastos de transportación escolar obligatoria</option>

                                        <option value="D09" data-person="1" data-entity="">Depósitos en cuentas para el ahorro, primas que tengan como base planes de pensiones</option>

                                        <option value="D10" data-person="1" data-entity="">Pagos por servicios educativos (colegiaturas)</option>

                                        <option value="P01" data-person="1" data-entity="1">Por definir</option>

                                    </select>
                                    <label>Uso CFDI</label>
                                    <div class="material-form__icon-right">
                                        <i class="fas fa-sort-down"></i>
                                    </div>
                                    <div class="material-form__helper-text text-red" id="preferences_sex_error"></div>
                                </div>
                            </div>

                            <ul class="material-list material-list--borderless mb-0">
                                <label class="material-list__item material-list__item--auto-height">
                                    <span class="material-list__text">
                                        <span class="material-list__text--primary">
                                            Enviar por email a&nbsp;<strong> example.example@example.com</strong>
                                        </span>
                                    </span>
                                    <div class="material-list__meta">
                                        <label class="material-check" for="billing_send_by_email">
                                            <input type="checkbox" class="hidden" name="send_by_email" id="billing_send_by_email">
                                            <span class="material-check__checkbox-container"><i class="material-check__checkbox"></i></span>
                                        </label>
                                    </div>
                                </label>

                                <li class="material-list__item">


                                    <span class="material-list__text">
                                        <span class="material-list__text--PRIMARY">
                                            Fecha de última modificación
                                        </span>
                                        <span class="material-list__text--secondary">
                                            20/sep/2019
                                        </span>
                                    </span>
                                    <span class="material-list__meta--center material-list__text--sm ">
                                        Rosa Elena
                                    </span>
                                </li>


                            </ul>
                        </div>
                        <div class="divider"></div>
                        <div class="panel__footer">
                            <div class="action-bar">
                                <div class="action-bar__buttons-section ml-2">
                                    <button type="submit" class="submit btn btn--blue">Aceptar</button>
                                </div>
                            </div>
                        </div>
                        <input type="hidden"><input type="hidden"></div>

                </div>


            </div>

        </div>



    </div>
</div>



