<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Image</title>
</head>
<body>

  <h5>Image List</h5>

  <div class="container">
      <div class="image-list">


          <div class="image-list__item" style="background-image: url('https://placeimg.com/640/200/any')">
              <div class="image-list__item image-list__label">
                <span class="image-list__label--primary">Long text label, Long text label</span>
              </div>
          </div>
      
          <div class="image-list__item" style="background-image: url('https://placeimg.com/600/400/any')">
              <div class="image-list__item image-list__label">
                <span class="image-list__label--primary">Text Label</span>
              </div>
          </div>
      
          <div class="image-list__item" style="background-image: url('https://placeimg.com/400/400/any')">
              <div class="image-list__item image-list__label">
                <span class="image-list__label--primary">Text Label</span>
              </div>
          </div>
      
          <div class="image-list__item" style="background-image: url('https://placeimg.com/400/600/any')">
              <div class="image-list__item image-list__label">
                <span class="image-list__label--primary">Text Label</span>
              </div>
          </div>
      
          <div class="image-list__item" style="background-image: url('https://placeimg.com/640/200/any')">
              <div class="image-list__item image-list__label">
                <span class="image-list__label--primary">Text Label</span>
              </div>
          </div>
          
          <div class="image-list__item" style="background-image: url('https://placeimg.com/640/200/any')">
              <div class="image-list__item image-list__label">
                <span class="">Text Label</span>
              </div>
          </div>
          
        </div>
  </div>

  <br>

  <h5>Image list with secondary text</h5>
  <div class="container">
      <div class="image-list">

          <div class="image-list__item">
              <img src="images/4.png">
              <div class="image-list__item image-list__label">
                <span class="image-list__label--primary">Long text label, Long text label</span>
                <span class="image-list__label--secondary">Secondary Text</span>
              </div>
          </div>
      
          <div class="image-list__item" style="background-image: url('images/maestra.jpg')">
              <div class="image-list__item image-list__label">
                <span class="image-list__label--primary">Text Label</span>
                <span class="image-list__label--secondary">Secondary Text</span>
              </div>
          </div>
      
          <div class="image-list__item">
              <img src="https://placeimg.com/640/200/any">
              <div class="image-list__item image-list__label">
                <span class="image-list__label--primary">Text Label</span>
                <span class="image-list__label--secondary">Secondary Text</span>
              </div>
          </div>
      
          <div class="image-list__item">
              <img src="https://placeimg.com/640/200/any">
              <div class="image-list__item image-list__label">
                <span class="image-list__label--primary">Text Label</span>
                <span class="image-list__label--secondary">Secondary Text</span>
              </div>
          </div>
      
          <div class="image-list__item">
              <img src="https://placeimg.com/640/200/any">
              <div class="image-list__item image-list__label">
                <span class="image-list__label--primary">Text Label</span>
                <span class="image-list__label--secondary">Secondary Text</span>
              </div>
          </div>
          
          <div class="image-list__item">
              <img src="https://placeimg.com/640/200/any">
              <div class="image-list__item image-list__label">
                <span class="image-list__label--primary">Text Label</span>
                <span class="image-list__label--secondary">Secondary Text</span>
              </div>
          </div>
          
        </div>
  </div>
  
  
</body>
</html>