<h5>3 Cols List</h5>

<ul class="material-list material-list--two-line material-list--borderless">
    <li class="material-list__item material-list__item--subheader">
        <div class="material-list__item__col-1">
            <i class="material-list__icon fas fa-circle-info text-clear-gray"></i>
            <span class="material-list__text--primary">
                Tareas
            </span>
        </div>
        <div class="material-list__item__col-2">
            <span class="material-list__text--primary text-right">
                20%
            </span>
        </div>
        <div class="material-list__item__col-3">
            <span class="">
                <span class="material-list__text--primary text-right">
                    8.0
                </span>
            </span>
        </div>
        <div class="period-details-gradebook__col-gradebook-4">
            <div class="collapsed" data-toggle="collapse" data-target="#options" aria-expanded="false" aria-controls="table1">
                <i class="fas action-item__icon action-item__icon--collapse"></i>
            </div>
        </div>
    </li>
    <li class="material-list__item">
        <div class="material-list__item__col-1">
            <i class="fas fa-circle-user material-list__icon text-red"></i>
            <span class="material-list__text">
                <span class="material-list__text--primary">
                    Col 1
                </span>
                <span class="material-list__text--secondary">
                    With two line text
                </span>
            </span>
        </div>
        <div class="material-list__item__col-2">
            <span class="material-list__text">
                <span class="material-list__text--primary">
                    Col 2 lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore e
                </span>
            </span>
        </div>
        <div class="material-list__item__col-3">
            <span class="material-list__meta--center material-list__text--sm text-dark">
                12/01/2018 &nbsp; 4:34 P.M
            </span>
        </div>
    </li>
</ul>

<h5>4 Cols List</h5>

<ul class="material-list material-list--borderless">
    <li class="material-list__item material-list__item--subheader">
        <div class="material-list__item__col-1">
            <span class="material-list__text">
                <span class="material-list__text--primary">
                    Sesion
                </span>
            </span>
        </div>
        <div class="material-list__item__col-2">
            <span class="material-list__text--primary">
                %
            </span>
        </div>
        <div class="material-list__item__col-3">
            <span class="material-list__text">
                <span class="material-list__text--primary">
                    Valor
                </span>
            </span>
        </div>
        <div class="material-list__item__col-4">
            <span class="material-list__text">
                <span class="material-list__text--primary">
                    Grupo
                </span>
            </span>
        </div>
    </li>
    <li class="material-list__item">
        <div class="material-list__item__col-1">
            <i class="material-list__icon fas fa-circle-info text-green"></i>
            <span class="material-list__text">
                <span class="material-list__text--primary">
                    Col 1
                </span>
            </span>
        </div>
        <div class="material-list__item__col-2">
            <span class="material-list__text">
                <span class="material-list__text--primary">
                    Col 2 lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                </span>
            </span>
        </div>
        <div class="material-list__item__col-3">
            <span class="material-list__text">
                <span class="material-list__text--primary">
                    Col 3 lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                </span>
            </span>
        </div>
        <div class="material-list__item__col-4">
            <span class="material-list__meta--center material-list__text--sm">
                <div class="action-item material-list__meta--btn">
                    <i class="far fa-trash-can action-item__icon material-list__meta material-list__meta-sm"></i>
                </div>
            </span>
        </div>
    </li>
</ul>

<h5>5 Cols List</h5>
<ul class="material-list material-list--two-line material-list--borderless">
    <li class="material-list__item">
        <div class="material-list__item__col-1">
            <i class="fas fa-cake-candles material-list__icon text-pink"></i>
            <span class="material-list__text">
                <span class="material-list__text--primary">
                    Col 1
                </span>
                <span class="material-list__text--secondary">
                    Secondary text
                </span>
            </span>
        </div>
        <div class="material-list__item__col-2">
            <span class="material-list__text">
                <span class="material-list__text--primary">
                    Col 2 
                </span>
            </span>
        </div>
        <div class="material-list__item__col-3">
            <span class="material-list__text">
                <span class="material-list__text--primary">
                    Col 3
                </span>
            </span>
        </div>
        <div class="material-list__item__col-4">
            <span class="material-list__text">
                <span class="material-list__text--primary">
                    Col 4
                </span>
            </span>
        </div>
        <div class="material-list__item__col-5">
            <span class="material-list__meta--center material-list__text--sm text-blue">
                18 <i class="far fa-thumbs-up material-list__text--md"></i>
            </span>
        </div>
    </li>
</ul>

<h5>List Single Line</h5>

<ul class="material-list material-list--shadow material-list--radius">
    <li class="material-list__item">
        <span class="material-list__text">
            <span class="material-list__text--primary">
                Test list
            </span>
        </span>
    </li>
    <div class="divider"></div>
    <li class="material-list__item">
        <span class="material-list__text">
            <span class="material-list__text--primary">
                Test list
            </span>
        </span>
    </li>
    <div class="divider"></div>
    <li class="material-list__item">
        <span class="material-list__text">
            <span class="material-list__text--primary">
                Test list
            </span>
        </span>
    </li>
</ul>

<br>
<h5>borderless</h5>
<ul class="material-list material-list--borderless">
    <li class="material-list__item">
        <span class="material-list__text">
            <span class="material-list__text--primary">
                Test list
            </span>
        </span>
    </li>
    <li class="material-list__item">
        <span class="material-list__text">
            <span class="material-list__text--primary">
                Test list
            </span>
        </span>
    </li>
    <li class="material-list__item">
        <span class="material-list__text">
            <span class="material-list__text--primary">
                Test list
            </span>
        </span>
    </li>
</ul>

<h5>Single Line List with Checkbox</h5>

<ul class="material-list">
    <label class="material-list__item"><i class="fas fa-spinner  material-list__icon"></i>
        <span class="material-list__text">
            <span class="material-list__text--primary">
                Test list
            </span>
        </span>
        <div class="material-list__meta">
            <label class="material-check">
                <input type="checkbox" class="hidden" name="all_levels">
                <span class="material-check__checkbox-container"><i class="material-check__checkbox"></i></span>
            </label>
        </div>
    </label>
    <div class="divider"></div>
    <label class="material-list__item"><i class="fas fa-spinner  material-list__icon"></i>
        <span class="material-list__text">
            <span class="material-list__text--primary">
                Test list
            </span>
        </span>
        <div class="material-list__meta">
            <label class="material-check">
                <input type="checkbox" class="hidden" name="all_levels">
                <span class="material-check__checkbox-container"><i class="material-check__checkbox"></i></span>
            </label>
        </div>
    </label>

</ul>

<br>

<h5>Two Line List</h5>

<ul class="material-list material-list--two-line">
    <li class="material-list__item">
        <span class="material-list__text">
            <span class="material-list__text--primary">
                Test list
            </span>
            <span class="material-list__text--secondary">second line test list</span>
        </span>
    </li>
    <li class="material-list__item">
        <span class="material-list__text">
            <span class="material-list__text--primary">
                Test list
            </span>
            <span class="material-list__text--secondary">second line test list</span>
        </span>
    </li>
    <li class="material-list__item">
        <span class="material-list__text">
            <span class="material-list__text--primary">
                Test list
            </span>
            <span class="material-list__text--secondary">second line test list</span>
        </span>
    </li>
</ul>

<br>

<h5>Two Line List with Meta</h5>

<ul class="material-list material-list--two-line">
    <li class="material-list__item material-list__item--subheader">
        <span class="material-list__text">
            <span class="material-list__text--primary">Primary text list</span>
        </span>
    </li>
    <li class="material-list__item">
        <i class="fas fa-cake-candles material-list__icon text-pink"></i>
        <span class="material-list__text">
            <span class="material-list__text--primary">Primary text list Condensed</span>
            <span class="material-list__text--secondary">secondary text test list</span>
        </span>
        <span class="material-list__meta--center material-list__text--sm text-blue">
            18 <i class="far fa-thumbs-up material-list__text--md"></i>
        </span>
    </li>
    <div class="divider"></div>
    <li class="material-list__item material-list__graphic-list">
            <div style="background-image: url('https://bit.ly/2TQsNay')" class=" material-list__icon  material-list__icon--thumbnail"></div>  
        <span class="material-list__text">
            <span class="material-list__text--primary">Primary text list Condensed</span>
            <span class="material-list__text--secondary">secondary text test list</span>
        </span>
        <span class="material-list__meta-box">
            <div class="material-list__meta-box__text">
                4:34 P.M
            </div>
            <div class="text-center">
                <i class="fas fa-circle-exclamation material-list__meta-box__icon text-yellow"></i>
            </div>
        </span>
    </li>
    <div class="divider"></div>
    <li class="material-list__item material-list__graphic-list">
            <div style="background-image: url('https://bit.ly/2TQsNay')" class=" material-list__icon  material-list__icon--thumbnail-radius"></div>  
        <span class="material-list__text">
            <span class="material-list__text--primary">Primary text list Condensed</span>
            <span class="material-list__text--secondary">secondary text test list</span>
        </span>
        <span class="material-list__meta--center material-list__text--sm ">
            12/01/2018 &nbsp; 4:34 P.M
        </span>
    </li>
    <div class="divider"></div>
    <li class="material-list__item">
        <i class="fas fa-bed  material-list__icon text-yellow"></i>
        <span class="material-list__text">
            <span class="material-list__text--primary">Primary text list Condensed</span>
            <span class="material-list__text--secondary">secondary text test list</span>
        </span>
        <i class="fas fa-circle-exclamation material-list__meta text-yellow"></i>
    </li>
    <div class="divider"></div>
    <li class="material-list__item">
        <div class=" material-list__icon">
            <label class="material-check">
                <input type="checkbox" class="hidden" placeholder="" name="" id="switch" dir="auto"  required="">
                    <span class="material-check__switch">
                        <span class="material-check__container-dot">
                            <span class="material-check__dot"></span>
                        </span>
                    </span>
            </label>
        </div>

        <span class="material-list__text">
            <span class="material-list__text--primary">Primary text list</span>
            <span class="material-list__text--secondary">secondary text test list</span>
        </span>
        <p class="material-list__meta--text">$12.45</p>
    </li>
    <div class="divider"></div>
    <li class="material-list__item">
        <i class="fas fa-circle-xmark  material-list__icon text-red"></i>
        <span class="material-list__text">
            <span class="material-list__text--primary">Primary text list</span>
            <span class="material-list__text--secondary">secondary text test list</span>
        </span>
        <i class="fas fa-ban material-list__meta"></i>
    </li>
    <div class="divider"></div>
    <li class="material-list__item material-list__graphic-list">
        <i class="fas fa-folder  material-list__icon"></i>
        <span class="material-list__text">
            <span class="material-list__text--primary">Primary text list</span>
            <span class="material-list__text--secondary">secondary text test list</span>
        </span>
    </li>
</ul>

<br>

<h5>Two line list Condensed</h5>
<ul class="material-list material-list--two-line2 material-list--borderless mb-0">
    <li class="material-list__item">
        <div class="material-list__item__col-2">
            <span class="material-list__text">
                <span class="material-list__text--primary">Primary text list Condensed</span>
                <span class="material-list__text--secondary">secondary text test list</span>
            </span>
        </div>
        <div class="material-list__item__col-2">
            <span class="material-list__text--primary">
                    Lorem
            </span>
        </div>
        <div class="material-list__item__col-3">
            <span class="material-list__text--primary">
            Lorem
            </span>
        </div>
    </li>
</ul>

<br>

<h5>Two line Icon List</h5>

<ul class="material-list">
    <li class="material-list__item material-list__item--subheader">
        <span class="material-list__text">
            <span class="material-list__text--primary">Primary text list</span>
        </span>
    </li>
    <li class="material-list__item">
        <i class="fas fa-wifi  material-list__icon"></i>
        <span class="material-list__text">
            <span class="material-list__text--primary">Primary text list</span>
        </span>
        <i class="fas fa-circle-xmark material-list__meta"></i>
    </li>
    <div class="divider"></div>
    
    <li class="material-list__item"><i class="fas fa-bus  material-list__icon"></i>
        <span class="material-list__text">
            <span class="material-list__text--primary">Primary text list</span>
        </span>
        <div class="action-item collapsed material-list__meta--btn" data-toggle="collapse" data-target="#options" aria-expanded="false" aria-controls="table1">
            <i class="fas action-item__icon action-item__icon--collapse"></i>
        </div>
    </li>
    <div class="collapse" id="options">
        <li class="material-list__item material-list__item--collapse">
                Chilpancingo
        </li>
        <li class="material-list__item material-list__item--collapse">
            Zocalo
        </li>
    </div>
    <div class="divider"></div>
    <li class="material-list__item">
        <i class="fab fa-bluetooth-b  material-list__icon"></i>
        <span class="material-list__text">
            <span class="material-list__text--primary">Primary text list</span>
        </span>
        <i class="fa fa-circle-check text-green material-list__meta"></i>
    </li>
    <div class="divider"></div>
    <label class="material-list__item"><i class="fas fa-spinner  material-list__icon"></i>
        <span class="material-list__text">
            <span class="material-list__text--primary">Primary text list</span>
        </span>
        <div class="material-list__meta">
            <div class="material-check">
                <input type="checkbox" class="hidden" name="all_levels">
                <span class="material-check__checkbox-container"><i class="material-check__checkbox"></i></span>
            </div>
        </div>
    </label>
    <label class="material-list__item"><i class="fas fa-spinner  material-list__icon"></i>
        <span class="material-list__text">
            <span class="material-list__text--primary">Primary text list</span>
        </span>
        <div class="material-list__meta">
            <div class="material-check">
                <input type="radio" class="hidden" name="test1" checked="">
                <i class=" material-check__radio"></i>
            </div>
        </div>
    </label>
    
</ul>

<br>
<h5>Sm list and xs list, xs with --child</h5>
<div class="row">
    <div class="col-sm-6">
        <ul class="material-list material-list--sm  material-list--shadow material-list--radius p-3">
            <li class="material-list__item">
                <i class="fas fa-chalkboard-user material-list__icon  text-green"></i>
                <span class="material-list__text">
                    <span class="material-list__text--primary">
                        Clases
                    </span>
                </span>
                <span class="material-list__meta--center">
                    3
                </span>
            </li>
            <li class="material-list__item">
                <i class=" material-list__icon"></i>
                <i class="fas fa-chalkboard-user material-list__icon  text-black"></i>
                <span class="material-list__text">
                    <span class="material-list__text--primary">
                        Química
                    </span>
                </span>
            </li>
            <li class="material-list__item">
                <i class=" material-list__icon"></i>
                <i class="fas fa-chalkboard-user material-list__icon  text-black"></i>
                <span class="material-list__text">
                    <span class="material-list__text--primary">
                        Inglés
                    </span>
                </span>
            </li>
            <li class="material-list__item">
                <i class=" material-list__icon"></i>
                <i class="fas fa-chalkboard-user material-list__icon  text-black"></i>
                <span class="material-list__text">
                    <span class="material-list__text--primary">
                        Arte
                    </span>
                </span>
            </li>
        </ul>
    </div>
    <div class="col-sm-6">
        <ul class="material-list material-list--xs  material-list--shadow material-list--radius p-3">
            <li class="material-list__item">
                <i class="fas fa-chalkboard-user material-list__icon  text-green"></i>
                <span class="material-list__text">
                    <span class="material-list__text--primary">
                        Clases
                    </span>
                </span>
                <span class="material-list__meta--center">
                    3
                </span>
            </li>
            <li class="material-list__item">
                <i class=" material-list__icon material-list__icon--child"></i>
                <i class="fas fa-chalkboard-user material-list__icon  text-black"></i>
                <span class="material-list__text">
                    <span class="material-list__text--primary">
                        Química
                    </span>
                </span>
            </li>
            <li class="material-list__item">
                    <i class=" material-list__icon material-list__icon--child"></i>
                <i class="fas fa-chalkboard-user material-list__icon  text-black"></i>
                <span class="material-list__text">
                    <span class="material-list__text--primary">
                        Inglés
                    </span>
                </span>
            </li>
            <li class="material-list__item">
                    <i class=" material-list__icon material-list__icon--child"></i>
                <i class="fas fa-chalkboard-user material-list__icon  text-black"></i>
                <span class="material-list__text">
                    <span class="material-list__text--primary">
                        Arte
                    </span>
                </span>
            </li>
        </ul>
    </div>
</div>

<h5>Avatar with Icon List</h5>

<ul class="material-list material-list__graphic-list">
    <label class="material-list__item"><i class="fas fa-folder  material-list__icon"></i>

        <span class="material-list__text">
            <span class="material-list__text--primary">  Test list</span>
        </span>
        <div class="material-list__meta">
            <div class="material-check">
                <input type="radio" class="hidden" name="test1" checked="">
                <i class=" material-check__radio"></i>
            </div>
        </div>
    </label>
    <div class="divider"></div>
    <li class="material-list__item">
        <img src="images/4.png" class="fas fa-folder  material-list__icon  material-list__icon--thumbnail">
        <span class="material-list__text">
            <span class="material-list__text--primary"> Imagen cuadrada origen</span>
        </span>

        <div class="action-item material-list__meta--btn ">
            <i class="far fa-trash-can action-item__icon material-list__meta material-list__meta-sm"></i>
        </div>
    </li>
    <div class="divider"></div>
    <li class="material-list__item">
        <div style="background-image: url('images/maestra.jpg')" class=" material-list__icon  material-list__icon--thumbnail"></div>
        <span class="material-list__text">
            <span class="material-list__text--primary"> Imagen rectangular vertical origen</span>
        </span>

        <i class="fas fa-ellipsis-vertical material-list__meta material-list__meta-sm"></i>
    </li>
</ul>

<br>

<h5>Image List</h5>

<ul class="material-list material-list--image-list">
    <li class="material-list__item">
        <i class="fas fa-folder  material-list__icon"></i>
        <span class="material-list__text">
            <span class="material-list__text--primary">
                List item with Icon
            </span>
        </span>
    </li>
    <div class="divider"></div>
    <li class="material-list__item">
        <div style="background-image: url('https://st2.depositphotos.com/8451790/11735/v/600/depositphotos_117354572-stock-video-cream-and-white-persian-kitten.jpg')" class="material-list__thumbnail-lg"></div>
        <span class="material-list__text">
            <span class="material-list__text--primary">
                Thumbnail list item
            </span>
        </span>
    </li>
    <div class="divider"></div>
    <li class="material-list__item">
        <span class="material-list__text">
            <span class="material-list__text--primary">
                Image list item
            </span>
        </span>
    </li>
</ul>

<h5>Three Line</h5>
<ul class="material-list material-list--three-line">
    <li class="material-list__item material-list--condensed">
        <span class="material-list__text">
            <span class="material-list__text--primary">Condensed Primary text list</span>
            <span class="material-list__text--secondary">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore 
                veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia 
                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, ad
                ipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaera
            </span>
        </span>
    </li>
    <div class="divider"></div>
    <li class="material-list__item">
        <div>
            <i class="fas fa-bus material-list__icon"></i>
        </div>
        <div>
            <span class="material-list__text">
                <span class="material-list__text--primary">Primary text list</span>
                <span class="material-list__text--secondary">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inve
                    ntore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, co
                    nsectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaera
                </span>
            </span>
        </div>
    </li>
    <div class="divider"></div>
    <li class="material-list__item material-list__graphic-list">
        <img src="https://www.jacksongalaxy.com/product_images/uploaded_images/before-you-get-a-kitten-1.jpg" class=" material-list__icon  material-list__icon--thumbnail">
        <span class="material-list__text">
            <span class="material-list__text--primary">Primary text list</span>
            <span class="material-list__text--secondary">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inve
                ntore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, co
                nsectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaera
            </span>
        </span>
        <div class="action-item material-list__meta--btn">
            <i class="far fa-trash-can action-item__icon"></i>
        </div>
    </li>
    <div class="divider"></div>
    <li class="material-list__item material-list--image-list">
        <div style="background-image: url('https://st2.depositphotos.com/8451790/11735/v/600/depositphotos_117354572-stock-video-cream-and-white-persian-kitten.jpg')" class="material-list__thumbnail-lg"></div><div>
            <span class="material-list__text">
                <span class="material-list__text--primary">Primary text list</span>
                <span class="material-list__text--secondary">
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inve
                    ntore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, co
                    nsectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaera
                </span>
            </span>
        </div>
    </li>
</ul>

<h5>read / disable</h5>
<ul class="material-list">
    <li class="material-list__item material-list__graphic-list material-list--read" >
            <div style="background-image: url('https://bit.ly/2TQsNay')" class=" material-list__icon  material-list__icon--thumbnail-radius"></div>
        <span class="material-list__text">
            <span class="material-list__text--primary">Primary text list Condensed</span>
        </span>
        <span class="material-list__meta--center material-list__text--sm text-dark">
            12/01/2018 &nbsp; 4:34 P.M
        </span>
    </li>
</ul>

<h5>Multiple icons/texto on meta</h5>
<ul class="material-list">
    <li class="material-list__item">
        <span class="material-list__text">
            <span class="material-list__text--primary">
                Test list
            </span>
        </span>
        <span class="material-list__meta material-list__meta--auto">
            <span class="material-list__text--sm mr-1">11/05/2019</span>
            <div class="action-item material-list__meta--btn">
                <i class="far fa-trash-can action-item__icon material-list__meta material-list__meta-sm"></i>
            </div>
        </span>
    </li>
    <div class="divider"></div>
    <li class="material-list__item">
        <i class="fas fa-circle-user  material-list__icon"></i>
        <span class="material-list__text">
            <span class="material-list__text--primary">
                Test list
            </span>
        </span>
        <span class="material-list__meta material-list__meta--auto">
            <div class="action-item material-list__meta--btn">
                <i class="fa fa-pen-to-square action-item__icon material-list__meta material-list__meta-sm"></i>
            </div>
            <div class="action-item material-list__meta--btn">
                <i class="fa fa-plus action-item__icon material-list__meta material-list__meta-sm"></i>
            </div>
            <div class="action-item material-list__meta--btn">
                <i class="far fa-trash-can action-item__icon material-list__meta material-list__meta-sm"></i>
            </div>
        </span>
    </li>
</ul>

<h5>panel list absences</h5>
<div class="panel mb-grid-gutter scale-entrance">
    <div class="panel__header ">
        <ul class="nav nav-tabs nav-fill" role="tablist">
            <li class="nav-item nav-item--underline">
                <a class="nav-link  active  text-capitalize" data-toggle="tab" href="#attendance-absences-tab" role="tab" aria-controls="home" aria-selected="true">Ausencias</a>
            </li>
            <li class="nav-item nav-item--underline">
                <a class="nav-link  text-capitalize" data-toggle="tab" href="#attendance-tardys-tab" role="tab" aria-controls="profile" aria-selected="false">Retardos</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane fade  show active  " id="attendance-absences-tab" role="tabpanel" aria-labelledby="attendance-absences-tab">
            <ul class="material-list material-list--two-line material-list--borderless">
                <li class="material-list__item material-list__item--subheader">
                    <span class="material-list__text">
                        <span class="material-list__text--primary">Bloque III</span>
                    </span>
                </li>
                <li class="material-list__item">
                    <i class="material-list__icon  fas fa-bed text-red  "></i>
                    <span class="material-list__text">
                        <span class="material-list__text--primary">
                            17 jun 2019
                        </span>
                        <span class="material-list__text--secondary">
                            Lengua Materna
                        </span>
                    </span>
                </li>
                <div class="divider"></div>
                <li class="material-list__item">
                    <i class="material-list__icon  fas fa-bed text-red  "></i>
                    <span class="material-list__text">
                        <span class="material-list__text--primary">
                            29 abr 2019
                        </span>
                        <span class="material-list__text--secondary">
                            Lengua Materna
                        </span>
                    </span>
                </li>
                <div class="divider"></div>

                <li class="material-list__item">
                    <i class="material-list__icon  fas fa-bed text-red  "></i>
                    <span class="material-list__text">
                        <span class="material-list__text--primary">
                            29 abr 2019
                        </span>
                        <span class="material-list__text--secondary">

                            Artes I (Dibujo)

                        </span>
                    </span>
                </li>

                <div class="divider"></div>
                <li class="material-list__item">
                    <i class="material-list__icon  fas fa-bed text-red  "></i>
                    <span class="material-list__text">
                        <span class="material-list__text--primary">
                            22 feb 2019
                        </span>
                        <span class="material-list__text--secondary">

                            Geografía

                        </span>
                    </span>
                </li>
                <div class="divider"></div>
                <li class="material-list__item">
                    <i class="material-list__icon  fas fa-bed text-red  "></i>
                    <span class="material-list__text">
                        <span class="material-list__text--primary">
                            22 feb 2019
                        </span>
                        <span class="material-list__text--secondary">
                            Inglés Nivel 4-A
                        </span>
                    </span>
                </li>
                <div class="divider"></div>
                <li class="material-list__item">
                    <i class="material-list__icon  fas fa-bed text-red  "></i>
                    <span class="material-list__text">
                        <span class="material-list__text--primary">
                            14 feb 2019
                        </span>
                        <span class="material-list__text--secondary">
                            Lengua Materna
                        </span>
                    </span>
                </li>


                <div class="divider"></div>
                <li class="material-list__item">
                    <i class="material-list__icon  fas fa-bed text-red  "></i>
                    <span class="material-list__text">
                        <span class="material-list__text--primary">
                            14 feb 2019
                        </span>
                        <span class="material-list__text--secondary">

                            Inglés Nivel 4-A

                        </span>
                    </span>

                </li>

                <div class="divider"></div>
                <li class="material-list__item">
                    <i class="material-list__icon  fas fa-bed text-red  "></i>
                    <span class="material-list__text">
                        <span class="material-list__text--primary">
                            5 dic 2018
                        </span>
                        <span class="material-list__text--secondary">
                            Geografía
                        </span>
                    </span>
                </li>



                <li class="material-list__item material-list__item--subheader">
                    <span class="material-list__text">
                        <span class="material-list__text--primary">Bloque I</span>
                    </span>
                </li>

                <li class="material-list__item">
                    <i class="material-list__icon  fas fa-bed text-red  "></i>
                    <span class="material-list__text">
                        <span class="material-list__text--primary">
                            9 oct 2018
                        </span>
                        <span class="material-list__text--secondary">
                            Lengua Materna
                        </span>
                    </span>
                </li>
            </ul>
        </div>
        <div class="tab-pane fade " id="attendance-tardys-tab" role="tabpanel">
            <ul class="material-list material-list--two-line material-list--borderless">

                <li class="material-list__item material-list__item--subheader">
                    <span class="material-list__text">
                        <span class="material-list__text--primary">Bloque I</span>
                    </span>
                </li>

                <li class="material-list__item">
                    <i class="material-list__icon fas fa-person-running text-yellow"></i>
                    <span class="material-list__text">
                        <span class="material-list__text--primary">
                            18 sep 2018
                        </span>
                        <span class="material-list__text--secondary">
                            Geografía
                        </span>
                    </span>
                </li>

            </ul>
        </div>
        <div class="tab-pane fade " id="attendance-subjects-tab" role="tabpanel">
            <ul class="material-list material-list--two-line material-list--borderless">
            </ul>
        </div>
    </div>
</div>
