<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>

  <body>
    <nav class="nav-drawer nav-drawer__main" id="side-menu">
      <div class="nav-drawer__image-header">
        <img src="/images/logoMattildaAlgebraix.png" />
      </div>
      <a href="#" class="nav-drawer__link d-none d-lg-flex">
        <i
          class="fas fa-bars nav-tabs-hamburguer nav-drawer__icon text-dark"
        ></i
        ><span class="nav-drawer__text">Colapsar</span>
      </a>
      <a class="nav-drawer__link" href="#testing"
        ><i class="fas fa-thumbs-up nav-drawer__icon"></i
        ><span class="nav-drawer__text">Testing</span></a
      >
      <a class="nav-drawer__link" href="#actionItem"
        ><i class="fas fa-chevron-right nav-drawer__icon"></i
        ><span class="nav-drawer__text">Action item</span></a
      >
      <a class="nav-drawer__link" href="#alerts"
        ><i class="fas fa-chevron-right nav-drawer__icon"></i
        ><span class="nav-drawer__text">Alerts</span></a
      >
      <a class="nav-drawer__link" href="#animations"
        ><i class="fas fa-chevron-right nav-drawer__icon"></i>
        <span class="nav-drawer__text">Animations</span></a
      >
      <a class="nav-drawer__link" href="#banner"
        ><i class="fas fa-chevron-right nav-drawer__icon"></i
        ><span class="nav-drawer__text">Banners</span></a
      >
      <a class="nav-drawer__link" href="#breadcrumb"
        ><i class="fas fa-chevron-right nav-drawer__icon"></i>
        <span class="nav-drawer__text">Breadcrumbs</span></a
      >
      <a class="nav-drawer__link" href="#buttons"
        ><i class="fas fa-chevron-right nav-drawer__icon"></i>
        <span class="nav-drawer__text">Buttons</span></a
      >
      <a class="nav-drawer__link" href="#calendar"
        ><i class="fas fa-chevron-right nav-drawer__icon"></i
        ><span class="nav-drawer__text">Calendario</span></a
      >
      <a class="nav-drawer__link" href="#card"
        ><i class="fas fa-chevron-right nav-drawer__icon"></i>
        <span class="nav-drawer__text">Cards</span></a
      >
      <a class="nav-drawer__link" href="#carousel"
        ><i class="fas fa-chevron-right nav-drawer__icon"></i
        ><span class="nav-drawer__text">Carousel</span></a
      >
      <a class="nav-drawer__link" href="#charts"
        ><i class="fas fa-chevron-right nav-drawer__icon"></i
        ><span class="nav-drawer__text">Charts</span></a
      >
      <a class="nav-drawer__link" href="#check"
        ><i class="fas fa-chevron-right nav-drawer__icon"></i
        ><span class="nav-drawer__text">Check</span></a
      >
      <a class="nav-drawer__link" href="#chips"
        ><i class="fas fa-chevron-right nav-drawer__icon"></i
        ><span class="nav-drawer__text">Chips</span></a
      >
      <a class="nav-drawer__link" href="#datePicker"
        ><i class="fas fa-chevron-right nav-drawer__icon"></i>
        <span class="nav-drawer__text">Datepicker</span></a
      >
      <a class="nav-drawer__link" href="#dividers"
        ><i class="fas fa-chevron-right nav-drawer__icon"></i>
        <span class="nav-drawer__text">Dividers</span></a
      >
      <a class="nav-drawer__link" href="#dropDown"
        ><i class="fas fa-chevron-right nav-drawer__icon"></i>
        <span class="nav-drawer__text">Dropdowns</span></a
      >
      <a class="nav-drawer__link" href="#fonts"
        ><i class="fas fa-chevron-right nav-drawer__icon"></i>
        <span class="nav-drawer__text">Fonts</span></a
      >

      <div class="nav-drawer__divider"></div>

      <a
        class="nav-drawer__link collapsed nav-drawer--colapsed"
        href="#"
        data-toggle="collapse"
        data-target="#collapseExample"
        aria-expanded="true"
        aria-controls="collapseExample"
      >
        <i class="far fa-user text-yellow nav-drawer__icon"></i>
        <span class="nav-drawer__notification-pill-point bg-red"></span>
        <span class="nav-drawer__text">
          Extras<i
            class="fas nav-drawer__side-icon nav-drawer__side-icon--collapse"
          ></i>
        </span>
      </a>
      <div class="collapse show" id="collapseExample">
        <a class="nav-drawer__link" href="#chat"
          ><i class="fas fa-chevron-right nav-drawer__icon"></i>
          <span class="nav-drawer__text">Chat</span></a
        >
        <a class="nav-drawer__link" href="#filters"
          ><i class="fas fa-chevron-right nav-drawer__icon"></i>
          <span class="nav-drawer__text">Filtros</span></a
        >
        <a class="nav-drawer__link" href="#forms"
          ><i class="fas fa-chevron-right nav-drawer__icon"></i>
          <span class="nav-drawer__text">Forms</span></a
        >
        <a class="nav-drawer__link" href="#gallery"
          ><i class="fas fa-chevron-right nav-drawer__icon"></i
          ><span class="nav-drawer__text">Gallery</span></a
        >
        <a class="nav-drawer__link" href="#icons"
          ><i class="fas fa-chevron-right nav-drawer__icon"></i
          ><span class="nav-drawer__text">Icons</span></a
        >
        <a class="nav-drawer__link" href="#image"
          ><i class="fas fa-chevron-right nav-drawer__icon"></i>
          <span class="nav-drawer__text">Images</span></a
        >
        <a class="nav-drawer__link" href="#lists"
          ><i class="fas fa-chevron-right nav-drawer__icon"></i>
          <span class="nav-drawer__text">Lists</span></a
        >
        <a class="nav-drawer__link" href="#modal"
          ><i class="fas fa-chevron-right nav-drawer__icon"></i>
          <span class="nav-drawer__text">Modal - Dialog</span></a
        >
        <a class="nav-drawer__link" href="#panel"
          ><i class="fas fa-chevron-right nav-drawer__icon"></i
          ><span class="nav-drawer__text">Panels</span></a
        >
        <a class="nav-drawer__link" href="#progressBar"
          ><i class="fas fa-chevron-right nav-drawer__icon"></i
          ><span class="nav-drawer__text">Progress Bar</span></a
        >
        <a class="nav-drawer__link" href="#snackBar"
          ><i class="fas fa-chevron-right nav-drawer__icon"></i>
          <span class="nav-drawer__text">Snackbars</span></a
        >
        <a class="nav-drawer__link nav-drawer__text--padding" href="#steps"
          ><span class="nav-drawer__text">Steps</span></a
        >
        <a class="nav-drawer__link" href="#tables"
          ><i class="fas fa-chevron-right nav-drawer__icon"></i>
          <span class="nav-drawer__text">Tables</span></a
        >
        <a class="nav-drawer__link" href="#tabs"
          ><i class="fas fa-chevron-right nav-drawer__icon"></i
          ><span class="nav-drawer__text"
            >Tabs<span class="nav-drawer__notification-text">2</span></span
          ></a
        >
        <a class="nav-drawer__link" href="#tooltip"
          ><i class="fas fa-chevron-right nav-drawer__icon"></i>
          <span class="nav-drawer__text">Tooltip</span></a
        >
        <a class="nav-drawer__link" href="#tree"
          ><i class="fas fa-chevron-right nav-drawer__icon"></i>
          <span class="nav-drawer__text">Tree</span></a
        >
      </div>
    </nav>
  </body>
</html>
