

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h5>Panel Base </h5>

            <div class="panel mb-grid-gutter scale-entrance">
                <div class="panel__header action-bar">
                    <span class="panel__text">
                        <span class="panel__text--primary">
                            Primary Title
                        </span>
                    </span>
                </div>
                <div class="divider"></div>
                <div class="">

                </div>
                <div class="divider"></div>
                <div class="panel__footer">
                    <div class="action-bar">
                        <div class="action-bar__buttons-section">
                            <button type="button" class="btn btn--blue">Enviar</button>
                        </div>
                        <div class="action-bar__icons-section">
                            <div class="action-item">
                                <i class="fa fa-print action-item__icon action-item__icon"></i>
                            </div>
                            <div class="action-item">
                                <i class="fas fa-paperclip action-item__icon action-item__icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h5>Example 1</h5>

            <div class="panel mb-grid-gutter scale-entrance">
                <div class="panel__header action-bar">
                    <span class="panel__text">
                        <span class="panel__text--primary">
                            Primary Title
                        </span>
                    </span>
                </div>
                <div class="divider"></div>
                <div class="">

                </div>
                <div class="divider"></div>
                <div class="panel__footer">
                    <div class="action-bar action-bar--reversed">

                        <div class="action-bar__icons-section">
                        </div>
                        <div class="action-bar__buttons-section">
                            <button type="button" class="btn btn--blue">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
            <h5>Example 2</h5>

            <div class="panel mb-grid-gutter scale-entrance">
                <div class="panel__header action-bar">
                    <span class="panel__text">
                        <span class="panel__text--primary">
                            Primary Title
                        </span>
                    </span>
                </div>
                <div class="divider"></div>
                <div class="">

                </div>
                <div class="divider"></div>
                <div class="panel__footer">
                    <div class="action-bar action-bar--reversed">

                        <div class="action-bar__icons-section">
                            <div class="action-item">
                                <i class="fa fa-print action-item__icon action-item__icon"></i>
                            </div>
                            <div class="action-item">
                                <i class="fas fa-paperclip action-item__icon action-item__icon"></i>
                            </div>
                        </div>
                        <div class="action-bar__buttons-section">
                            <button type="button" class="btn btn--blue">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h5>Panel with Header - Action Bar</h5>

            <div class="panel mb-grid-gutter scale-entrance">
                <div class="panel__header action-bar">
                    <span class="panel__text">
                        <span class="panel__text--primary">Primary Title</span>
                        <span class="panel__text--secondary">Secondary title</span>
                    </span>
                    <div class="panel__header__actions action-bar__icons-section">
                        <div class="action-item">
                            <i class="fas fa-pencil action-item__icon action-item__icon"></i>
                        </div>
                        <div class="action-item">
                            <i class="far fa-trash-can action-item__icon action-item__icon"></i>
                        </div>
                        <div class="action-item">
                            <i class="fas fa-ellipsis-vertical action-item__icon action-item__icon"></i>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="panel__body2">
                </div>
                <div class="divider"></div>
                <div class="panel__footer">
                    <div class="action-bar">
                        <div class="action-bar__buttons-section">
                            <button type="button" class="btn btn-text--blue">Guardar</button>
                            <button type="button" class="btn btn-text--green">Imprimir</button>
                        </div>

                        <div class="action-bar__icons-section">
                            <div class="action-item">
                                <i class="fa fa-print action-item__icon action-item__icon"></i>
                            </div>
                            <div class="action-item">
                                <i class="fas fa-angle-left action-item__icon action-item__icon"></i>
                            </div>
                            <div class="action-item">
                                <i class="fas fa-angle-right action-item__icon action-item__icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h5>Panel with Icon</h5>

            <div class="panel mb-grid-gutter scale-entrance">
                <div class="panel__header action-bar">
                    <div class="panel__icon">
                        <i class="fas fa-gear action-item__icon"></i>
                    </div>
                    <span class="panel__text">
                        <span class="panel__text--primary">Primary Title</span>
                        <span class="panel__text--secondary">Secondary title</span>
                    </span>
                    <div class="panel__header__actions action-bar__icons-section">
                        <div class="action-item">
                            <i class="fas fa-pencil action-item__icon"></i>
                        </div>
                        <div class="action-item">
                            <i class="far fa-trash-can action-item__icon"></i>
                        </div>
                        <div class="action-item">
                            <i class="fas fa-ellipsis-vertical action-item__icon"></i>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>
                <div class="panel__body2">

                </div>
                <div class="divider"></div>

                <div class="panel__footer">
                    <div class="action-bar">
                        <div class="action-bar__buttons-section">
                            <button type="button" class="btn btn--blue">Guardar</button>
                            <button type="button" class="btn btn--green">Imprimir</button>
                        </div>
                        <div class="action-bar__icons-section">
                            <div class="action-item">
                                <i class="fa fa-print action-item__icon action-item__icon"></i>
                            </div>
                            <div class="action-item">
                                <i class="fas fa-angle-left action-item__icon action-item__icon"></i>
                            </div>
                            <div class="action-item">
                                <i class="fas fa-angle-right action-item__icon action-item__icon"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <h5>Panel with Color</h5>

            <div class="panel panel__color panel--outline mb-grid-gutter scale-entrance">
                <div class="panel__header action-bar">
                    <div class="panel__icon">
                        <i class="fas fa-gear action-item__icon"></i>
                    </div>
                    <span class="panel__text">
                        <span class="panel__text--primary">Primary Title</span>
                        <span class="panel__text--secondary">Secondary title</span>
                    </span>
                    <div class="panel__header__actions action-bar__icons-section">
                        <div class="action-item">
                            <i class="fas fa-pencil action-item__icon icon-color"></i>
                        </div>
                        <div class="action-item">
                            <i class="far fa-trash-can action-item__icon icon-color"></i>
                        </div>
                        <div class="action-item">
                            <i class="fas fa-ellipsis-vertical action-item__icon icon-color"></i>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>
                <div class="panel__body2">

                </div>
                <div class="divider"></div>

                <div class="panel__footer">
                    <div class="action-bar">
                        <div class="action-bar__buttons-section">
                            <button type="button" class="btn btn--blue">Guardar</button>
                            <button type="button" class="btn btn--green">Imprimir</button>
                        </div>
                        <div class="action-bar__icons-section">
                            <div class="action-item">
                                <i class="fa fa-print action-item__icon"></i>
                            </div>
                            <div class="action-item">
                                <i class="fas fa-angle-left action-item__icon"></i>
                            </div>
                            <div class="action-item">
                                <i class="fas fa-angle-right action-item__icon"></i>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <h5>Dropdown with options</h5>
            <div class="panel panel__color panel__color--radius mb-grid-gutter scale-entrance">
                <div class="panel__header action-bar">
                    <div class="panel__icon">
                        <i class="fas fa-gear action-item__icon"></i>
                    </div>
                    <span class="panel__text">
                        <span class="panel__text--primary">Primary Title</span>
                        <span class="panel__text--secondary">Secondary title</span>
                    </span>

                    <div class="panel__header__actions action-bar__icons-section">
                        <button type="button" class="btn btn--light btn--radius"><i class="fas fa-plus"></i><span class="btn--icon-space">Dark</span></button>
                        <div class="action-item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis  action-item__icon icon-color" ></i>
                            <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-start">
                                <button class="dropdown-item" type="button">Action</button>
                                <button class="dropdown-item" type="button">Another action</button>
                                <button class="dropdown-item" type="button">Something else here</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="panel__body2">

                </div>
                <div class="divider"></div>
                <div class="panel__footer">
                    <div class="action-bar">
                        <div class="action-bar__buttons-section">
                            <button type="button" class="btn btn-text--blue">Guardar</button>
                            <button type="button" class="btn btn-text--green">Imprimir</button>
                        </div>
                        <div class="action-bar__icons-section">
                            <div class="action-item">
                                <i class="fa fa-print action-item__icon action-item__icon"></i>
                            </div>
                            <div class="action-item">
                                <i class="fas fa-angle-left action-item__icon action-item__icon"></i>
                            </div>
                            <div class="action-item">
                                <i class="fas fa-angle-right action-item__icon action-item__icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <h4>Birthday Panel</h4>

            <div class="panel mb-grid-gutter scale-entrance">
                <div class="panel__header action-bar">
                    <span class="panel__text">
                        <span class="panel__text--primary">Cumpleanos</span>
                    </span>
                </div>
                <div class="divider"></div>
                <div class="">


                    <ul class="material-list material-list--two-line material-list--borderless mb-0">
                        <li class="material-list__item">
                            <i class="fas fa-cake-candles material-list__icon text-pink"></i>
                            <span class="material-list__text">
                                <span class="material-list__text--primary">Primary text list Condensed</span>
                                <span class="material-list__text--secondary text-clear-gray">secondary text test list</span>
                            </span>
                            <span class="mx-auto">
                                <a href="#" class="material-list__text"> Felicita a tu amigo </a>
                            </span>
                            <span class="material-list__meta--center material-list__text--sm text-blue">
                                18 <i class="far fa-thumbs-up material-list__text--md"></i>
                            </span>
                        </li>

                    </ul>
                </div>
                <div class="divider"></div>
                <div class="panel__footer">
                    <div class="action-bar">
                        <div class="action-bar__buttons-section mx-auto">
                            <button type="button" class="btn btn-text--blue">Ver mas cumpleanos</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel mb-grid-gutter scale-entrance">
                <div class="panel__header action-bar">
                    <span class="panel__text">
                        <span class="panel__text--primary">Cumpleanos</span>
                    </span>
                </div>
                <div class="divider"></div>
                <div class="">


                    <ul class="material-list material-list--two-line material-list--borderless">
                        <li class="material-list__item">
                            <i class="fas fa-cake-candles material-list__icon text-pink"></i>
                            <span class="material-list__text">
                                <span class="material-list__text--primary">Primary text list Condensed</span>
                                <span class="material-list__text--secondary">secondary text test list</span>
                            </span>
                            <span class="material-list__meta--center material-list__text--sm">
                                18 <i class="far fa-thumbs-up material-list__text--md"></i>
                            </span>
                        </li>
                        <div class="divider"></div>
                        <li class="material-list__item material-list__graphic-list">
                            <div style="background-image: url('https://bit.ly/2TQsNay')" class=" material-list__icon  material-list__icon--thumbnail"></div>
                            <span class="material-list__text">
                                <span class="material-list__text--primary">Primary text list Condensed</span>
                                <span class="material-list__text--secondary">secondary text test list</span>
                            </span>
                            <span class="material-list__meta-box">
                                <div class="material-list__meta-box__text">
                                    4:34 P.M
                                </div>
                                <div class="text-center">
                                    <i class="fas fa-circle-exclamation material-list__meta-box__icon text-yellow"></i>
                                </div>
                            </span>
                        </li>
                        <div class="divider"></div>
                        <li class="material-list__item material-list__graphic-list">
                            <div style="background-image: url('https://bit.ly/2TQsNay')" class=" material-list__icon  material-list__icon--thumbnail-radius"></div>
                            <span class="material-list__text">
                                <span class="material-list__text--primary">Primary text list Condensed</span>
                                <span class="material-list__text--secondary">secondary text test list</span>
                            </span>
                            <span class="material-list__meta--center material-list__text--sm ">
                                12/01/2018 &nbsp; 4:34 P.M
                            </span>
                        </li>
                        <div class="divider"></div>
                        <li class="material-list__item">
                            <i class="fas fa-bed  material-list__icon text-yellow"></i>
                            <span class="material-list__text">
                                <span class="material-list__text--primary">Primary text list Condensed</span>
                                <span class="material-list__text--secondary">secondary text test list</span>
                            </span>
                            <i class="fas fa-circle-exclamation material-list__meta text-yellow"></i>
                        </li>
                        <li class="material-list__item">
                            <div class=" material-list__icon">
                                <label class="material-check">
                                    <input type="checkbox" class="hidden" placeholder="" name="" id="switch" dir="auto" required="">
                                    <span class="material-check__switch">
                                        <span class="material-check__container-dot">
                                            <span class="material-check__dot"></span>
                                        </span>
                                    </span>
                                </label>
                            </div>

                            <span class="material-list__text">
                                <span class="material-list__text--primary">Primary text list</span>
                                <span class="material-list__text--secondary">secondary text test list</span>
                            </span>
                            <p class="material-list__meta--text">$12.45</p>
                        </li>
                        <div class="divider"></div>
                        <li class="material-list__item">
                            <i class="fas fa-circle-xmark  material-list__icon text-red"></i>
                            <span class="material-list__text">
                                <span class="material-list__text--primary">Primary text list</span>
                                <span class="material-list__text--secondary">secondary text test list</span>
                            </span>
                            <i class="fas fa-ban material-list__meta"></i>
                        </li>
                        <li class="material-list__item material-list__graphic-list">
                            <i class="fas fa-folder  material-list__icon"></i>
                            <span class="material-list__text">
                                <span class="material-list__text--primary">Primary text list</span>
                                <span class="material-list__text--secondary">secondary text test list</span>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="divider"></div>
                <div class="panel__footer">
                    <div class="action-bar">
                        <div class="action-bar__buttons-section mx-auto">
                            <button type="button" class="btn btn-text--blue">Ver mas cumpleanos</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="col-md-6">
            <div class="panel mb-grid-gutter scale-entrance">
                <div class="panel__header panel__header--center action-bar">
                    <div class="text-red"> <i class="fas fa-briefcase  pr-2"></i> Ofertas de trabajo</div>
                    <div class="">
                        <label class="material-check mb-0">
                            <input type="checkbox" class="hidden" placeholder="" name="" id="switch" dir="auto" required="">
                            <span class="material-check__switch--not-checked--red material-check__switch material-check__switch--orange">
                                <span class="material-check__container-dot">
                                    <span class="material-check__dot"></span>
                                </span>
                            </span>

                        </label>
                    </div>
                    <div class="text-orange"><i class="fas fa-hand-holding-heart pr-2"></i>Servicio social</div>
                </div>
                <div class="divider"></div>

                <div class="panel__body">
                    <h6 class="text-blue">Trabajo tal</h6>
                    <div class="subtitle__2"><i class="fas fa-location-dot pr-2"></i>Queretaro</div>
                    <div class="subtitle__2"><i class="fas fa-building pr-2"></i>Club campestre</div>
                    <div class="subtitle__2"><i class="fas fa-dollar-sign pr-2"></i>3,000</div>
                    <div class="subtitle__2"><i class="far fa-calendar pr-2"></i>Cierre de la oferta: 22 julio 2019</div>


                </div>

                <div class="panel__footer">
                    <div class="action-bar action-bar--reversed">
                        <div class="action-bar__buttons-section">
                            <button type="button" class="btn btn-text--blue">Ver detalles</button>

                        </div>

                    </div>
                </div>
            </div>

            <div class="panel mb-grid-gutter scale-entrance">
                <div class="panel__header panel__header--center action-bar">
                    <div class="text-blue">  Detalle de la oferta</div>
                </div>
                <div class="divider"></div>

                <div class="panel__body">
                    <h6 class="text-blue">Trabajo tal</h6>
                    <div class="jobs--center mb-2">
                        <div class="subtitle__2"><i class="fas fa-location-dot pr-2"></i>Queretaro</div>
                        <div class="subtitle__2"><i class="fas fa-building pr-2"></i>Club campestre</div>
                        <div class="subtitle__2"><i class="fas fa-dollar-sign pr-2"></i>3,000</div>
                        <div class="subtitle__2"><i class="far fa-calendar pr-2"></i>Cierre de la oferta: 22 julio 2019</div>
                    </div>
                    <div class="subtitle__2"><span class="text--md">Correo:</span> dasdasdads.com</div>
                    <div class="subtitle__2"><span class="text--md">Telefono:</span> 555555555</div>
                    <div class="subtitle__2"><span class="text--md">Vacantes:</span> 3</div>
                    <div class="subtitle__2"><span class="text--md">Empresa afiliada:</span> ndkjansjkdnajk</div>
                </div>
                <div class="divider"></div>
                <div class="panel__body">
                    <div class="subtitle__2 text--md">Requerimientos:</div>
                    <div class="material-card__body--paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt earum explicabo laboriosam pariatur qui rerum tempore temporibus! Architecto dolores ea eveniet, hic itaque molestiae porro quo repellat ut voluptatum.
                    </div>
                    <div class="subtitle__2 text--md mt-2">Descripcion:</div>
                    <div class="material-card__body--paragraph">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deserunt earum explicabo laboriosam pariatur qui rerum tempore temporibus! Architecto dolores ea eveniet, hic itaque molestiae porro quo repellat ut voluptatum.
                    </div>

                </div>

            </div>

            <div class="panel mb-grid-gutter scale-entrance">
                <div class="panel__header action-bar">
                    <span class="panel__text">
                        <span class="panel__text--primary">Clases</span>
                    </span>
                </div>
                <div class="">
                    <div class="divider"></div>

                    <ul class="material-list material-list--two-line material-list--borderless">
                        <li class="material-list__item">
                            <i class="fas fa-chalkboard-user material-list__icon text-green"></i>
                            <span class="material-list__text">
                                <span class="material-list__text--primary">
                                    Español II
                                </span>
                                <span class="material-list__text--secondary">
                                    2 A
                                </span>
                            </span>
                            <span class="material-list__meta material-list__meta--auto">dnz
                                <a href="/bin/p/library2/view_class/?x_load=0&amp;id=9RH7YHOD&amp;student_id=CMRQHJ3J" data-toggle="tooltip" title="" data-original-title="Biblioteca virtual" data-placement="top" class="action-item material-list__meta--btn cursor-pointer "><i class="fas fa-book material-list__meta text-purple material-list__meta-sm"></i> </a>
                                <div class="action-item material-list__meta--btn teacher-info-js" data-name="Mónica  Cordero Villalobos" data-class-name="Español II" data-email="monica.cordero@carlosdarwin.edu.mx" data-teacher-picture="0" data-secondary-profile-picture="" data-secondary-teacher-name=" " data-secondary-teacher-email="" data-secondary-teacher-picture="" data-toggle="tooltip" title="" data-original-title="Profesor" data-placement="top">
                                    <i class="fas fa-user text-yellow action-item__icon material-list__meta material-list__meta-sm"></i>
                                </div>
                            </span>
                        </li>

                        <div class="divider"></div>




                        <li class="material-list__item">
                            <i class="fas fa-chalkboard-user material-list__icon text-green"></i>
                            <span class="material-list__text">
                                <span class="material-list__text--primary">
                                    Matemáticas II
                                </span>
                                <span class="material-list__text--secondary">
                                    2 A
                                </span>
                            </span>

                            <span class="material-list__meta material-list__meta--auto">


                                <a href="/bin/p/library2/view_class/?x_load=0&amp;student_id=CMRQHJ3J&amp;id=2THCHT4O" data-toggle="tooltip" title="" data-original-title="Biblioteca virtual" data-placement="top" class="action-item material-list__meta--btn cursor-pointer "><i class="fas fa-book material-list__meta text-purple material-list__meta-sm"></i> </a>

                                <div class="action-item material-list__meta--btn teacher-info-js" data-name="Oscar Hernández" data-class-name="Matemáticas II" data-email="" data-teacher-picture="0" data-secondary-profile-picture="" data-secondary-teacher-name=" " data-secondary-teacher-email="" data-secondary-teacher-picture="" data-toggle="tooltip" title="" data-original-title="Profesor" data-placement="top">
                                    <i class="fas fa-user text-yellow action-item__icon material-list__meta material-list__meta-sm"></i>
                                </div>
                            </span>
                        </li>

                        <div class="divider"></div>




                        <li class="material-list__item">
                            <i class="fas fa-chalkboard-user material-list__icon text-green"></i>
                            <span class="material-list__text">
                                <span class="material-list__text--primary">
                                    Ciencias II (Física)
                                </span>
                                <span class="material-list__text--secondary">
                                    2 A
                                </span>
                            </span>

                            <span class="material-list__meta material-list__meta--auto">
                                <a href="/bin/p/library2/view_class/?x_load=0&amp;student_id=CMRQHJ3J&amp;id=PAUFY4YI" data-toggle="tooltip" title="" data-original-title="Biblioteca virtual" data-placement="top" class="action-item material-list__meta--btn cursor-pointer "><i class="fas fa-book material-list__meta text-purple material-list__meta-sm"></i> </a>
                                <div class="action-item material-list__meta--btn teacher-info-js" data-name="Silvia Isabel Aviña Hurtado" data-class-name="Ciencias II (Física)" data-email="silvia.isabel@carlosdarwin.edu.mx" data-teacher-picture="0" data-secondary-profile-picture="" data-secondary-teacher-name=" " data-secondary-teacher-email="" data-secondary-teacher-picture="" data-toggle="tooltip" title="" data-original-title="Profesor" data-placement="top">
                                    <i class="fas fa-user text-yellow action-item__icon material-list__meta material-list__meta-sm"></i>
                                </div>
                            </span>
                        </li>

                        <div class="divider"></div>




                        <li class="material-list__item">
                            <i class="fas fa-chalkboard-user material-list__icon text-green"></i>
                            <span class="material-list__text">
                                <span class="material-list__text--primary">
                                    Desarrollo Sustentable II
                                </span>
                                <span class="material-list__text--secondary">
                                    2 A
                                </span>
                            </span>

                            <span class="material-list__meta material-list__meta--auto">
                                <a href="/bin/p/library2/view_class/?x_load=0&amp;id=6P3QWIBY&amp;student_id=CMRQHJ3J" data-toggle="tooltip" title="" data-original-title="Biblioteca virtual" data-placement="top" class="action-item material-list__meta--btn cursor-pointer "><i class="fas fa-book material-list__meta text-purple material-list__meta-sm"></i> </a>

                                <div class="action-item material-list__meta--btn teacher-info-js" data-name="Yahaira  Chico González" data-class-name="Desarrollo Sustentable II" data-email="y.chico@carlosdarwin.edu.mx" data-teacher-picture="0" data-secondary-profile-picture="" data-secondary-teacher-name=" " data-secondary-teacher-email="" data-secondary-teacher-picture=""  data-toggle="tooltip" title="" data-original-title="Profesor" data-placement="top">
                                    <i class="fas fa-user text-yellow action-item__icon material-list__meta material-list__meta-sm"></i>
                                </div>
                            </span>
                        </li>
                        <div class="divider"></div>
                        <li class="material-list__item">
                            <i class="fas fa-chalkboard-user material-list__icon text-green"></i>
                            <span class="material-list__text">
                                <span class="material-list__text--primary">
                                    Robótica y programación II
                                </span>
                                <span class="material-list__text--secondary">
                                    2 A
                                </span>
                            </span>

                            <span class="material-list__meta material-list__meta--auto">


                                <a href="/bin/p/library2/view_class/?x_load=0&amp;student_id=CMRQHJ3J&amp;id=L839SV4Z" data-toggle="tooltip" title="" data-original-title="Biblioteca virtual" data-placement="top" class="action-item material-list__meta--btn cursor-pointer "><i class="fas fa-book material-list__meta text-purple material-list__meta-sm"></i> </a>

                                <div class="action-item material-list__meta--btn teacher-info-js" data-name="Rogelio Ugalde Palau" data-class-name="Robótica y programación II" data-email="rougpa@gmail.com" data-teacher-picture="0" data-secondary-profile-picture="" data-secondary-teacher-name=" " data-secondary-teacher-email="" data-secondary-teacher-picture="" data-toggle="tooltip" title="" data-original-title="Profesor" data-placement="top">
                                    <i class="fas fa-user text-yellow action-item__icon material-list__meta material-list__meta-sm"></i>
                                </div>
                            </span>
                        </li>

                        <div class="divider"></div>




                        <li class="material-list__item">
                            <i class="fas fa-chalkboard-user material-list__icon text-green"></i>
                            <span class="material-list__text">
                                <span class="material-list__text--primary">
                                    Historia de México I
                                </span>
                                <span class="material-list__text--secondary">
                                    2 A
                                </span>
                            </span>

                            <span class="material-list__meta material-list__meta--auto">


                                <a href="/bin/p/library2/view_class/?x_load=0&amp;id=YU4JFC1O&amp;student_id=CMRQHJ3J" data-toggle="tooltip" title="" data-original-title="Biblioteca virtual" data-placement="top" class="action-item material-list__meta--btn cursor-pointer "><i class="fas fa-book material-list__meta text-purple material-list__meta-sm"></i> </a>

                                <div class="action-item material-list__meta--btn teacher-info-js" data-name="Sergio Castro" data-class-name="Historia de México I" data-email="" data-teacher-picture="0" data-secondary-profile-picture="" data-secondary-teacher-name=" " data-secondary-teacher-email="" data-secondary-teacher-picture="" data-toggle="tooltip" title="" data-original-title="Profesor" data-placement="top">
                                    <i class="fas fa-user text-yellow action-item__icon material-list__meta material-list__meta-sm"></i>
                                </div>
                            </span>
                        </li>

                        <div class="divider"></div>




                        <li class="material-list__item">
                            <i class="fas fa-chalkboard-user material-list__icon text-green"></i>
                            <span class="material-list__text">
                                <span class="material-list__text--primary">
                                    Artes II (Dibujo)
                                </span>
                                <span class="material-list__text--secondary">
                                    2 A
                                </span>
                            </span>

                            <span class="material-list__meta material-list__meta--auto">


                                <a href="/bin/p/library2/view_class/?x_load=0&amp;student_id=CMRQHJ3J&amp;id=ZZDNLQQF" data-toggle="tooltip" title="" data-original-title="Biblioteca virtual" data-placement="top" class="action-item material-list__meta--btn cursor-pointer "><i class="fas fa-book material-list__meta text-purple material-list__meta-sm"></i> </a>

                                <div class="action-item material-list__meta--btn teacher-info-js" data-name="Laura Guadalupe Carreón Jiménez" data-class-name="Artes II (Dibujo)" data-email="lupitacj@yahoo.com" data-teacher-picture="0" data-secondary-profile-picture="" data-secondary-teacher-name=" " data-secondary-teacher-email="" data-secondary-teacher-picture="" data-toggle="tooltip" title="" data-original-title="Profesor" data-placement="top">
                                    <i class="fas fa-user text-yellow action-item__icon material-list__meta material-list__meta-sm"></i>
                                </div>
                            </span>
                        </li>

                        <div class="divider"></div>




                        <li class="material-list__item">
                            <i class="fas fa-chalkboard-user material-list__icon text-green"></i>
                            <span class="material-list__text">
                                <span class="material-list__text--primary">
                                    FOCE I
                                </span>
                                <span class="material-list__text--secondary">
                                    2 A
                                </span>
                            </span>

                            <span class="material-list__meta material-list__meta--auto">


                                <a href="/bin/p/library2/view_class/?x_load=0&amp;id=85L8OXVR&amp;student_id=CMRQHJ3J" data-toggle="tooltip" title="" data-original-title="Biblioteca virtual" data-placement="top" class="action-item material-list__meta--btn cursor-pointer "><i class="fas fa-book material-list__meta text-purple material-list__meta-sm"></i> </a>

                                <div class="action-item material-list__meta--btn teacher-info-js" data-name="Lucero Ramos Dávila" data-class-name="FOCE I" data-email="luceroramos.ira@servicios.itesm.mx" data-teacher-picture="0" data-secondary-profile-picture="" data-secondary-teacher-name=" " data-secondary-teacher-email="" data-secondary-teacher-picture="" data-toggle="tooltip" title="" data-original-title="Profesor" data-placement="top">
                                    <i class="fas fa-user text-yellow action-item__icon material-list__meta material-list__meta-sm"></i>
                                </div>
                            </span>
                        </li>

                        <div class="divider"></div>




                        <li class="material-list__item">
                            <i class="fas fa-chalkboard-user material-list__icon text-green"></i>
                            <span class="material-list__text">
                                <span class="material-list__text--primary">
                                    Educación Física II
                                </span>
                                <span class="material-list__text--secondary">
                                    2 A
                                </span>
                            </span>

                            <span class="material-list__meta material-list__meta--auto">


                                <a href="/bin/p/library2/view_class/?x_load=0&amp;id=FBRCKSAD&amp;student_id=CMRQHJ3J" data-toggle="tooltip" title="" data-original-title="Biblioteca virtual" data-placement="top" class="action-item material-list__meta--btn cursor-pointer "><i class="fas fa-book material-list__meta text-purple material-list__meta-sm"></i> </a>

                                <div class="action-item material-list__meta--btn teacher-info-js" data-name="Juan Román Pérez Elías" data-class-name="Educación Física II" data-email="" data-teacher-picture="0" data-secondary-profile-picture="" data-secondary-teacher-name=" " data-secondary-teacher-email="" data-secondary-teacher-picture="" data-toggle="tooltip" title="" data-original-title="Profesor" data-placement="top">
                                    <i class="fas fa-user text-yellow action-item__icon material-list__meta material-list__meta-sm"></i>
                                </div>
                            </span>
                        </li>

                        <div class="divider"></div>




                        <li class="material-list__item">
                            <i class="fas fa-chalkboard-user material-list__icon text-green"></i>
                            <span class="material-list__text">
                                <span class="material-list__text--primary">
                                    Ortografía Gramática II
                                </span>
                                <span class="material-list__text--secondary">
                                    2 A
                                </span>
                            </span>

                            <span class="material-list__meta material-list__meta--auto">


                                <a href="/bin/p/library2/view_class/?x_load=0&amp;id=FJHPTY72&amp;student_id=CMRQHJ3J" data-toggle="tooltip" title="" data-original-title="Biblioteca virtual" data-placement="top" class="action-item material-list__meta--btn cursor-pointer "><i class="fas fa-book material-list__meta text-purple material-list__meta-sm"></i> </a>

                                <div class="action-item material-list__meta--btn teacher-info-js" data-name="Ivonne del Consuelo Gallardo Lozano" data-class-name="Ortografía Gramática II" data-email="igallardo@carlosdarwin.edu.mx" data-teacher-picture="0" data-secondary-profile-picture="" data-secondary-teacher-name=" " data-secondary-teacher-email="" data-secondary-teacher-picture="" data-toggle="tooltip" title="" data-original-title="Profesor" data-placement="top">
                                    <i class="fas fa-user text-yellow action-item__icon material-list__meta material-list__meta-sm"></i>
                                </div>
                            </span>
                        </li>

                        <div class="divider"></div>




                        <li class="material-list__item">
                            <i class="fas fa-chalkboard-user material-list__icon text-green"></i>
                            <span class="material-list__text">
                                <span class="material-list__text--primary">
                                    Tutoría II
                                </span>
                                <span class="material-list__text--secondary">
                                    2 A
                                </span>
                            </span>

                            <span class="material-list__meta material-list__meta--auto">


                                <a href="/bin/p/library2/view_class/?x_load=0&amp;student_id=CMRQHJ3J&amp;id=OVLUKRBI" data-toggle="tooltip" title="" data-original-title="Biblioteca virtual" data-placement="top" class="action-item material-list__meta--btn cursor-pointer "><i class="fas fa-book material-list__meta text-purple material-list__meta-sm"></i> </a>

                                <div class="action-item material-list__meta--btn teacher-info-js" data-name="Ivonne del Consuelo Gallardo Lozano" data-class-name="Tutoría II" data-email="igallardo@carlosdarwin.edu.mx" data-teacher-picture="0" data-secondary-profile-picture="" data-secondary-teacher-name=" " data-secondary-teacher-email="" data-secondary-teacher-picture="" data-toggle="tooltip" title="" data-original-title="Profesor" data-placement="top">
                                    <i class="fas fa-user text-yellow action-item__icon material-list__meta material-list__meta-sm"></i>
                                </div>
                            </span>
                        </li>

                        <div class="divider"></div>




                        <li class="material-list__item">
                            <i class="fas fa-chalkboard-user material-list__icon text-green"></i>
                            <span class="material-list__text">
                                <span class="material-list__text--primary">
                                    Inglés II nivel 4-B
                                </span>
                                <span class="material-list__text--secondary">
                                    Inglés II
                                </span>
                            </span>

                            <span class="material-list__meta material-list__meta--auto">


                                <a href="/bin/p/library2/view_class/?x_load=0&amp;id=WYYNLCG0&amp;student_id=CMRQHJ3J" data-toggle="tooltip" title="" data-original-title="Biblioteca virtual" data-placement="top" class="action-item material-list__meta--btn cursor-pointer "><i class="fas fa-book material-list__meta text-purple material-list__meta-sm"></i> </a>

                                <div class="action-item material-list__meta--btn teacher-info-js" data-name="Andrea Almada Elizarraráz" data-class-name="Inglés II nivel 4-B" data-email="" data-teacher-picture="0" data-secondary-profile-picture="" data-secondary-teacher-name=" " data-secondary-teacher-email="" data-secondary-teacher-picture="" data-toggle="tooltip" title="" data-original-title="Profesor" data-placement="top">
                                    <i class="fas fa-user text-yellow action-item__icon material-list__meta material-list__meta-sm"></i>
                                </div>
                            </span>
                        </li>


                    </ul>
                </div>
            </div>
        </div>


    </div>



</div>
