

  <h5>Snackbar Base</h5>

  <div class="snackbar snackbar--dark">
    <div class="snackbar__text">
      <span class="snackbar__text--primary">
        Single-line message.
      </span>
    </div>
  </div>

  <h5>Snackbar Base Color</h5>

  <div class="snackbar snackbar--yellow">
    <div class="snackbar__text">
      <span class="snackbar__text--primary">
        <i class="snackbar__icon fa fa-bookmark"></i>
        Single-line message.
      </span>
    </div>
  </div>

  <br>

  <h5>Snackbar with action</h5>

  <div class="snackbar snackbar snackbar--dark">
    <div class="snackbar__text">
      <span class="snackbar__text--primary">Single-line message with action.</span>

    </div>
    <div class="snackbar__action">
      <button type="button" class="btn btn-text--purple">Action</button>
    </div>
  </div>

  <br>

  <h5>Two line with action</h5>


  <div class="snackbar snackbar snackbar--dark snackbar__two-line">

    <div class="snackbar__text">
      <span class="snackbar__text--primary"> Single-line messageSingle-line messageSingle-line messageSingle-line messageSingle-line messageSingle-line messageSingle-line messageSingle-line messageSingle-line messageSingle-line messageSingle-line messageSingle-line messageSingle-line messageSingle-line messageSingle-line messageSingle-line messageSingle-line messageSingle-line messageSingle-line messageSingle-line messageSingle-line messageSingle-line messageSingle-line messageSingle-line messageSingle-line messageSingle-line messageSingle-line messageSingle-line messageSingle-line messageSingle-line messageSingle-line messageSingle-line message</span>

    </div>

    <div class="snackbar__action">
      <button type="button" class="btn btn-text--purple">Action</button>
    </div>

  </div>

  <h5>Longer action text</h5>

  <div class="snackbar snackbar snackbar--dark snackbar__action-lg">
      <div class="snackbar__text">
        <span class="snackbar__text--primary">Single-line message</span>
        <span class="snackbar__text--secondary">with action.</span>
      </div>
      <div class="snackbar__action">
        <button type="button" class="btn btn-text--purple">longer action text</button>
      </div>


    </div>

