
<div class="row justify-content-center">
    <div class="col-md-6 ">
        <div class="panel mb-grid-gutter scale-entrance">
<div class="panel--body">


    <div class="material-stepper">
        <div  class="overline">Standard stepper</div>
        <div class="material-stepper__standard">
            <div class="material-stepper__dot material-stepper--dot-active">1</div>
            <div class="material-stepper__text">
                <span class="material-stepper__text--primary">Select settings</span>
            </div>
            <div class="material-stepper__horizontal-line"></div>
        </div>


    </div>
    <div class="material-stepper">
        <div  class="overline">Standard stepper icon</div>
        <div class="material-stepper__standard">
            <div class="material-stepper__icon material-stepper__icon--red">
                <i class="fas fa-triangle-exclamation"></i>
            </div>
            <div class="material-stepper__text">
                <span class="material-stepper__text--primary">Select settings</span>
            </div>
            <div class="material-stepper__horizontal-line"></div>
        </div>


    </div>
    <div class="material-stepper">
        <div  class="overline">Optional stepper</div>
        <div class="material-stepper__standard">
            <div class="material-stepper__horizontal-line"></div>
            <div class="material-stepper__dot">1</div>
            <div class="material-stepper__text">
                <span class="material-stepper__text--primary">Select settings</span>
                <span class="material-stepper__text--secondary">optional</span>
            </div>
            <div class="material-stepper__horizontal-line"></div>
        </div>


    </div>
    <div class="material-stepper">
        <div  class="overline">Color icon state</div>
        <div class="material-stepper__standard">
            <div class="material-stepper__horizontal-line"></div>
            <div class="material-stepper__dot material-stepper__dot--red">1</div>
            <div class="material-stepper__text">
                <span class="material-stepper__text--primary">Select settings</span>
                <span class="material-stepper__text--secondary">optional</span>
            </div>
            <div class="material-stepper__horizontal-line"></div>
        </div>


    </div>
    <div class="material-stepper">
        <div  class="overline">Alternative label</div>
        <div class="material-stepper__alternative">
            <div class="material-stepper__alternative--item">
                <div class="material-stepper__dot">1</div>
                <div class="material-stepper__text">
                    <span class="material-stepper__text--primary">Select settings</span>
                </div>
            </div>
            <div class="material-stepper__horizontal-line"></div>
            <div class="material-stepper__alternative--item">
                <div class="material-stepper__dot">2</div>
                <div class="material-stepper__text">
                    <span class="material-stepper__text--primary">Select settings</span>
                </div>
            </div>
            <div class="material-stepper__horizontal-line"></div>
            <div class="material-stepper__alternative--item">
                <div class="material-stepper__dot">3</div>
                <div class="material-stepper__text">
                    <span class="material-stepper__text--primary">Select settings</span>
                </div>
            </div>
        </div>


    </div>
    <div class="material-stepper">
        <div class="overline">Alternative label 2</div>
        <div class="material-stepper__alternative">
            <div>
                <div class="material-stepper__dot material-stepper__alternative--dot">1</div>
                <div class="material-stepper__text">
                    <span class="material-stepper__text--primary">Select settings</span>
                </div>
            </div>
            <div class="material-stepper__horizontal-line"></div>
            <div>
                <div class="material-stepper__dot material-stepper__alternative--dot material-stepper__dot--blue">2
                </div>
                <div class="material-stepper__text">
                    <span class="material-stepper__text--primary">Select settings</span>
                </div>
            </div>
            <div class="material-stepper__horizontal-line"></div>
            <div>
                <div class="material-stepper__dot material-stepper__alternative--dot">3</div>
                <div class="material-stepper__text">
                <span class="material-stepper__text--primary">Select settings</span>
            </div>
            </div>
        </div>


    </div>
    <div class="material-stepper">
        <div  class="overline">Alternative 2 labels</div>
        <div class="material-stepper__alternative">
            <div>
                <div class="material-stepper__dot material-stepper__alternative--dot">1</div>
                <div class="material-stepper__text">
                    <span class="material-stepper__text--primary">Select settings</span>
                    <span class="material-stepper__text--secondary text-center">optional</span>
                </div>
            </div>
            <div class="material-stepper__horizontal-line"></div>
            <div>
                <div class="material-stepper__dot material-stepper__alternative--dot material-stepper__dot--yellow">2
                </div>
                <div class="material-stepper__text">
                    <span class="material-stepper__text--primary">Select settings</span>
                    <span class="material-stepper__text--secondary text-center">optional</span>
                </div>
            </div>
            <div class="material-stepper__horizontal-line"></div>
            <div>
                <div class="material-stepper__dot material-stepper__dot--purple material-stepper__alternative--dot">3
                </div>
                <div class="material-stepper__text">
                    <span class="material-stepper__text--primary">Select settings</span>
                    <span class="material-stepper__text--secondary text-center">optional</span>
                </div>
            </div>
        </div>
    </div>
    <div class="material-stepper">
        <div  class="overline">Alternative 2 labels icons color</div>
        <div class="material-stepper__alternative">
            <div>
                <div class="material-stepper__dot material-stepper__alternative--dot">1</div>
                <div class="material-stepper__text">
                    <span class="material-stepper__text--primary">Select settings</span>
                    <span class="material-stepper__text--secondary text-center">optional</span>
                </div>
            </div>
            <div class="material-stepper__horizontal-line"></div>
            <div>
                <div class="material-stepper__icon material-stepper__icon--green text-center">
                    <i class="fas fa-triangle-exclamation"></i>
                </div>
                <div class="material-stepper__text">
                    <span class="material-stepper__text--primary">Select settings</span>
                    <span class="material-stepper__text--secondary text-center">optional</span>
                </div>
            </div>
            <div class="material-stepper__horizontal-line"></div>
            <div>
                <div class="material-stepper__dot material-stepper__alternative--dot">3</div>
                <div class="material-stepper__text">
                    <span class="material-stepper__text--primary">Select settings</span>
                    <span class="material-stepper__text--secondary text-center">optional</span>
                </div>
            </div>
        </div>
    </div>
    <div class="material-stepper">
        <div  class="overline">Vertical steppers</div>
        <div class="material-stepper__vertical">
            <div class="material-stepper__dot">1</div>
            <div class="material-stepper__text">
                <span class="material-stepper__text--primary">Select settings</span>
            </div>
        </div>
        <div class="material-stepper__vertical-line"></div>
        <div class="material-stepper__vertical">
            <div class="material-stepper__dot">2</div>
            <div class="material-stepper__text">
                <span class="material-stepper__text--primary">Select settings</span>
            </div>
        </div>
        <div class="material-stepper__vertical-line"></div>
        <div class="material-stepper__vertical">
            <div class="material-stepper__dot">3</div>
            <div class="material-stepper__text">
                <span class="material-stepper__text--primary">Select settings</span>
            </div>
        </div>
    </div>
    <div class="material-stepper">
        <div  class="overline">Vertical steppers content</div>
        <div class="material-stepper__vertical">
            <div class="material-stepper__dot">1</div>
            <div class="material-stepper__text">
                <span class="material-stepper__text--primary">Select settings</span>
            </div>
        </div>
        <div class="material-stepper__vertical-line">
            <div class="material-stepper__body" style=" background-color: grey;">

            </div>
            <div class="material-stepper__footer">
                <button type="button" class="btn btn-text--info">Continue</button>
                <button type="button" class="btn btn-text--dark" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        <div class="material-stepper__vertical">
            <div class="material-stepper__dot">2</div>
            <div class="material-stepper__text">
                <span class="material-stepper__text--primary">Select settings</span>
            </div>
        </div>
        <div class="material-stepper__vertical-line"></div>
        <div class="material-stepper__vertical">
            <div class="material-stepper__dot">3</div>
            <div class="material-stepper__text">
                <span class="material-stepper__text--primary">Select settings</span>
            </div>
        </div>
    </div>

</div>
</div>
    </div>
</div>