

<div class="container">
    <h5>Tree viewer</h5>

    <div class="row">
    
        <div class="col-sm-6">
            <div class="tree tree__container material-card p-3">
    
                <div class="tree__level">
            
                    <label class="material-check">
                        <input type="checkbox" class="hidden" name="campus1">
                        <span class="material-check__checkbox-container"><i class="material-check__checkbox"></i></span>
                    </label>
                    <div class="tree__card tree__card--some">
                        <i class="fas fa-chevron-down tree__icon"></i> Campus Hermosillo
                    </div>
            
                    <div class="tree__level">
                        <div class="tree__wrapper">
                            <label class="material-check tree--push-1">
                                <input type="checkbox" class="hidden" name="section1">
                                <span class="material-check__checkbox-container"><i class="material-check__checkbox"></i></span>
                            </label>
                            <div class="tree__card tree__card--some">
                                <span class="tree__conector"></span>
                                <i class="fas fa-chevron-down tree__icon"></i> Sección Secundaria
                            </div>
                
                            <div class="tree__level">
                                <span class="tree__conector tree__conector--pipe"></span>
                                <div class="tree__wrapper">
                                    <label class="material-check tree--push-2 tree--checked-checkbox">
                                        <input type="checkbox" class="hidden" name="primero" checked>
                                        <span class="material-check__checkbox-container"><i class="material-check__checkbox"></i></span>
                                    </label>
                                    <div class="tree__card tree__card--checked">
                                        <span class="tree__conector"></span>
                                        <i class="fas fa-chevron-down tree__icon"></i> Primero
                                    </div>
                                    <div class="tree__level">
                                        <span class="tree__conector tree__conector--pipe"></span>
                                        <div class="tree__wrapper">
                                            <label class="material-check tree--push-3 tree--checked-checkbox">
                                                <input type="checkbox" class="hidden" name="section1" checked>
                                                <span class="material-check__checkbox-container"><i class="material-check__checkbox"></i></span>
                                            </label>
                                            <div class="tree__card tree__card--checked">
                                                <span class="tree__conector"></span>
                                                <i class="fas fa-users tree__icon"></i> 1A
                                            </div>
                                        </div>
                                        <div class="tree__wrapper">
                                            <label class="material-check tree--push-3 tree--checked-checkbox">
                                                <input type="checkbox" class="hidden" name="section1" checked>
                                                <span class="material-check__checkbox-container"><i class="material-check__checkbox"></i></span>
                                            </label>
                                            <div class="tree__card tree__card--checked">
                                                <span class="tree__conector tree__conector--lg"></span>
                                                <i class="fas fa-users tree__icon"></i> 1B
                                            </div>
                                        </div>
                                    </div>
                                </div>
            
                                <div class="tree__wrapper">
                                    <label class="material-check tree--push-2">
                                        <input type="checkbox" class="hidden" name="section1">
                                        <span class="material-check__checkbox-container"><i class="material-check__checkbox"></i></span>
                                    </label>
                                    <div class="tree__card">
                                        <span class="tree__conector tree__conector--lg"></span>
                                        <i class="fas fa-chevron-down tree__icon"></i> Dos
                                    </div>
                                </div>
            
                            </div>
                        </div>
                    </div>
            
                    <div class="tree__level">
                        <div class="tree__wrapper">
                            <label class="material-check tree--push-1 tree--checked-checkbox">
                                <input type="checkbox" class="hidden" name="section1" checked>
                                <span class="material-check__checkbox-container"><i class="material-check__checkbox"></i></span>
                            </label>
                            <div class="tree__card tree__card--checked">
                                    <span class="tree__conector tree__conector--lg"></span>
                                <i class="fas fa-chevron-down tree__icon"></i> Sección Primaria
                            </div>
                        </div>
                    </div>

                    <div class="tree__level">
                        <div class="tree__wrapper">
                            <label class="material-check tree--push-1">
                                <input type="checkbox" class="hidden" name="section1">
                                <span class="material-check__checkbox-container"><i class="material-check__checkbox"></i></span>
                            </label>
                            <div class="tree__card">
                                    <span class="tree__conector tree__conector--lg"></span>
                                <i class="fas fa-chevron-down tree__icon"></i> Sección Preescolar
                            </div>
                        </div>
                    </div>

                </div>
            
            </div>
        </div>
    
        <div class="col-sm-4">
            <ul class="material-list material-list--xs  material-list--shadow material-list--radius p-3">
                <li class="material-list__item">
                    <i class="fas fa-building-columns material-list__icon  text-black"></i>
                    <span class="material-list__text">
                        <span class="material-list__text--primary">
                            Hermosillo
                        </span>
                    </span>
                    <span class="material-list__meta--center">
                        (8/20)
                    </span>
                </li>
                <li class="material-list__item">
                    <i class=" material-list__icon material-list__icon--child"></i>
                    <i class="fas fa-school material-list__icon  text-black"></i>
                    <span class="material-list__text">
                        <span class="material-list__text--primary">
                            Secundaria
                        </span>
                    </span>
                    <span class="material-list__meta--center">
                        (2/4)
                    </span>
                </li>
                <li class="material-list__item">
                    <i class=" material-list__icon material-list__icon--child"></i>
                    <i class=" material-list__icon material-list__icon--child"></i>
                    <i class="far fa-building material-list__icon  text-black"></i>
                    <span class="material-list__text">
                        <span class="material-list__text--primary">
                            Primero
                        </span>
                    </span>
                    <span class="material-list__meta--center">
                        (2/2)
                    </span>
                </li>
                <li class="material-list__item">
                    <i class=" material-list__icon material-list__icon--child"></i>
                    <i class=" material-list__icon material-list__icon--child"></i>
                    <i class=" material-list__icon material-list__icon--child"></i>
                    <i class="fas fa-users material-list__icon  text-black"></i>
                    <span class="material-list__text">
                        <span class="material-list__text--primary">
                            1A
                        </span>
                    </span>
                    <span class="material-list__meta--center">
                        <i class="fas fa-xmark material-list__icon  text-red"></i>
                    </span>
                </li>
                <li class="material-list__item">
                    <i class=" material-list__icon material-list__icon--child"></i>
                    <i class=" material-list__icon material-list__icon--child"></i>
                    <i class=" material-list__icon material-list__icon--child"></i>
                    <i class="fas fa-users material-list__icon  text-black"></i>
                    <span class="material-list__text">
                        <span class="material-list__text--primary">
                            1B
                        </span>
                    </span>
                    <span class="material-list__meta--center">
                        <i class="fas fa-xmark material-list__icon  text-red"></i>
                    </span>
                </li>
                <li class="material-list__item">
                    <i class=" material-list__icon material-list__icon--child"></i>
                    <i class="fas fa-school material-list__icon  text-black"></i>
                    <span class="material-list__text">
                        <span class="material-list__text--primary">
                            Primaria
                        </span>
                    </span>
                    <span class="material-list__meta--center">
                        (6/6)
                    </span>
                </li>
            </ul>
        </div>

    </div>
</div>

